.background-wrapper {
    background-image: url('/assets/images/fondos/carta-loggedout.png');
    width:100%;
    min-height: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.title {
    width: 100%;
    /* border: 2px solid pink; */
    font-size: 40px;
    font-family: var(--antiqua);
    color:var(--azul);
    text-align: center;
    padding:32px 0 32px 0;
    position: absolute;
    top: 10px;
}


.search-container{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 100%;
 top: 100px;
}

form {
/* border: 2px solid green; */
display: flex;
align-items: center;
justify-content: center;
}

input, select, .btn-buscador {
    position: static;
}

input {
    width: 576px;
    height: 60px;
    padding: 10px;
    border: 3px solid var(--azul);
    background-color: var(--negro-bg);
    border-radius: var(--borde-input) 0 0 var(--borde-input);
    padding-left: 25px;
    color: var(--blanco);
    font-size: 24px;
    border-right: none;
}

input::placeholder {
    color: var(--blanco);
    font-size:24px;
}

.btn-buscador {
    width:60px;
    height:60px;
    color:var(--azul);
    background-color: var(--azul);
    background-image: url('/assets/images/iconos/ojo.png');
    background-size: 3.5em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 10% 10% 0;
    border:none;
  }

.results-container {
    /* border:2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: abusolute;
  }

.bg-cards {
    background-color: var(--negro-bg);
    min-height: 500px;
    width: 90vw;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    padding: 30px;
    border-radius: 30px;
    margin-top:180px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: abusolute;

}

.list-cards {
    /* border:2px solid red; */
    display:flex;
    flex-wrap:wrap;
    margin: 10px;
}

.no-results-message {
    text-align: center;
    padding: 50px;
    font-size: 24px;
    font-family: var(--inter);
    color: var(--blanco);
  }


/*modal de xisca*/
.bg_dark{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.85) ;
    background-position: center;
    z-index:0;
    transition: background 1s ease;
}

.container_cardinfo{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 100%;
}