.title {
    font-size: 64px;
    font-family: var(--antiqua);
    color:var(--azul);
    text-align: center;
    padding-top:56px;
    margin-bottom: 40px;
}

.background-wrapper {
    background-image: url('/assets/images/fondos/carta-loggedout.png');
    width:100%;
    /* top: 186px;
    left:11px; */
    object-fit: cover;
    position: relative;
}

.search-container{
 display: flex;
 align-items: center;
 justify-content: center;
}

form {
display: flex;
align-items: center;
justify-content: center;
}

input {
    width: 576px;
    height: 60px;
    border-color: var(--azul);
    background-color: var(--negro-bg);
    padding-left: 25px;
    color: var(--blanco);
    font-size: 26px;
}

input::placeholder {
    color: var(--blanco);
    font-size:32px;
}

select {
    width: 150px;
    height: 60px;
    background-color: var(--negro-bg);
    color: var(--blanco);
    font-family: var(--inter);
    font-size: 20px;
    border: 3px solid var(--azul);
    text-align: center;
}

.btn-buscador {
    width:60px;
    height:60px;
    color:var(--azul);
    background-color: var(--azul);
    background-image: url('/assets/images/iconos/ojo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    border:none;
  }

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.bg-cards {
    background-color: var(--negro-bg);
    min-height: 700px;
    width: 90%;
    height: auto;
    padding: 30px;
    border-radius: var(--ancho-borde);
    margin-top:30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* gap: 72px; */
}

.list-cards {
    /* border:2px solid red; */
    display:flex;
    flex-wrap:wrap;
    margin: 10px;
}

.no-results-message {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-family: var(--antiqua);
    color: var(--blanco);
  }