<div class="background-wrapper">
    <div [ngClass]= "darkenOverlay ? 'bg_dark' : ''">

        <div class="container_cardinfo" *ngIf="show_cardinfo">
            <app-card-info [carta]="selectedCard" (onCardInfoClose)="onCardInfoClose($event)"></app-card-info>
        </div>

        <div class="container_cardinfo" *ngIf="!show_cardinfo">
            <p class="title">CARTAS</p>
            <div class="search-container">
                <form (submit)="searchCards(searchParam.value); $event.preventDefault()">
                    <input type="text" id="buscador" name="buscador" placeholder="Buscar" size="10" #searchParam (focus)="searchParam.value=''"/>
                    <select name="filtrar" id="filtrar" [(ngModel)]="searchType">
                        <option value="nombre">Nombre</option>
                        <option value="colleccion">Colección</option>
                    </select>
                    <button type="submit" class="btn-buscador"></button>
                </form>
            </div>
            
            <div class="results-container">
                <div class="bg-cards">
                    <div class="list-cards" *ngIf="resultsCards.length > 0">
                        <div *ngFor="let card of resultsCards; let i = index">
                            <app-card [childCard]="card" (childCardClicked)="onCardInfoOpen($event)"[templateCard]="'type1'" ></app-card>
                        </div>
                    </div>

                    <div class="results-wrapper" *ngIf="resultsCards.length === 0 && searchPerformed && errorMessage">
                        <div class="no-results-message">
                        <p>{{ errorMessage.split('.')[0] }}.</p>
                        <p>{{ errorMessage.split('.')[1] }}</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>