footer{
    background-color: var(--negro-bg);
    text-align: center;
    height: 18vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    color:  var(--blanco);
}
#divpieFooter{
    border: var(--morado-2paints) solid 1px;
    width: 90%;
    padding-top: 10px;
}
