<div class="background-wrapper">
    <div class="title-search">
        <p class="title">CARTAS</p>

        <div class="search-container">
        <form (submit)="searchCards(searchParam.value); $event.preventDefault()">
            <input type="text" id="buscador" name="buscador" placeholder="Buscar" size="10" #searchParam/>
            <select name="filtrar" id="filtrar" [(ngModel)]="searchType">
                <option value="nombre">Nombre</option>
                <option value="colleccion">Colección</option>
            </select>
            <button type="submit" class="btn-buscador"></button>
        </form>      
    </div>
</div>

<div class="results-container">
    <div class="bg-cards">
        <div class="list-cards" *ngIf="resultsCards.length > 0">
            <div *ngFor="let card of resultsCards; let i = index">
                <app-card [childCard]="card" [templateCard]="'type3'" (addCardToBuilder)="onAddCardToBuilder($event)"></app-card>
            </div>
        
            <div class="results-wrapper" *ngIf="resultsCards.length === 0">
                <div class="no-results-message">
                  No hemos podido encontrar. Intenta otra vez.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="builder-container">
    
<button class="btn-builder1">Construcción de Mazos</button>

    <div class="list-cards" *ngIf="builderCards.length > 0">
    <div *ngFor="let card of builderCards; let i = index">
        <app-card [childCard]="card" [templateCard]="'type4'"></app-card>
    </div>
    </div>

    <div class="list-cards" *ngIf="builderCards.length === 0">
        <div class="no-results-message">
          Busca las cartas en el buscador y pulsa el botón "+" para agregarlas a tu mazo.
        </div>
    </div>


<button class="btn-builder2" (click)="openDeckDialog()">Añadir a tu mazo</button>
</div>
