header{
    font-family: var(--antiqua)!important;
}
header{
    background-color: black;
    text-align: center;
    height: 200px;
    width: 100%;
    /* min-width: 900px; */
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
/* Estilos de img y boton */

img{
    width: 500px;
}
#img_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button_lateral{
    position: absolute;
    margin: 20px 10px;
    right: 0;
    width: 150px;
    border: var(--amarillo) solid 2px;
    background-color: rgb(0, 0, 0);
    border-radius: var(--borde-boton);
    padding: 10px;
    color: var(--amarillo);
}
  
/* Estilos de menu */
#pAmarillo{
    color: var(--amarillo);
   
}
#pAzul{
    color: var(--azul);
}
#pMorado{
    color: var(--morado);
}
#pRojo{
    color: var(--rojo);
}
.pVerde{
    color: var(--verde);
}

/* CSS ANIMACION */

.icono {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
.linkActive{
    opacity: 0.5;
}
.linkActive:active {
    opacity: 1;
}
.linkActive:hover {
    opacity: 1;
}
.active-link {
    opacity: 1 !important;
}
header nav {
	z-index:1000;
	width:100%;
	margin:20px auto;
}
header nav ul {
	list-style:none;
    display: block;
    width: 100%;
    padding: 0;
}
header nav ul li {
	display:inline-block;
	position: relative;
    width: 15%;
}
header nav ul li a {
	display:block;
	text-decoration:none;
}
header nav ul li:hover .children {
	display:block;
}
header nav ul li .children {
	display: none;
	background:#000000;
	position: absolute;
    left: 20px;
	width: 150px;
	z-index:1000;
}
header nav ul li .children li {
	display:block;
	overflow: hidden;
    padding: 10px;
    width: 100%;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
header nav ul li .children li a {
	display: block;
}

/*Estilos modal usuario*/
.boton_secundario{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: var(--amarillo) 2px solid;
}

/* new */
.dropdown {
    position: absolute;
    width: 150px;
    right: 15px;
    z-index: 9999;
}
.dropdown-child {
    min-width: 150px;
    margin-top: 65px;
}
.dropdown-child span {
    display: flex;
    align-items: center;
    height: 50px;
    color: var(--amarillo);
    cursor: pointer;
}
.dropdown-child span:hover {
    background-color: rgba(132, 133, 133, 0.096);
}


  @media (max-width: 600px) {

    .button_lateral{
        width: auto;
    }
  }