<header  [ngStyle]="{'min-width': isSpecialRoute ? '699px' : '900px'}">
    <div id="img_header" [routerLink]="usersService.isLoginSubject.value ? 'home' : 'landing-page'">
        <img src="../../../assets/images/Logo.png" alt="MagyDeck">
    </div>
   
    <div class="dropdown">
        <button class="button_lateral" *ngIf="!usersService.isLoginSubject.value" routerLink="register">
            <span *ngIf="!isSmallScreen; else mobileIcon">Iniciar sesión</span>
            <ng-template #mobileIcon>
                <mat-icon>input</mat-icon>
            </ng-template>
        </button>

        <button class="button_lateral dropdown-toggle" (click)="modal_visible = !modal_visible" *ngIf="usersService.isLoginSubject.value">
            <span *ngIf="!isSmallScreen; else mobileIconName">{{ currentUser?.nameUser }}</span>
            <ng-template #mobileIconName>
                <span><mat-icon>person</mat-icon></span>
            </ng-template>
        </button>
        <div *ngIf="modal_visible" class="dropdown-child">
            <!-- Crar un espacio de ruptura (&nbsp) -->
            <span (click)="modal_visible = !modal_visible" routerLink="profile">Perfil</span>
            <span (click)="logOut()">Cerrar sesión</span>
        </div>
    </div>

    <nav *ngIf="!usersService.isLoginSubject.value" class="nav-logout">
        <ul>
            <li class="about-item">
                <a routerLink="about" class="linkActive" routerLinkActive="active-link">
                    <img class="icono" src="../../../assets/images/header/Llamita_marron.png" alt="Magic Llanuras">
                    <p id="pAmarillo">About</p>
                </a>
            </li>
            <li >
                <a routerLink="cartas" class="linkActive" routerLinkActive="active-link" >
                    <img class="icono" src="../../../assets/images/header/Llamita_azul.png" alt="Magic Isla">
                    <p id="pAzul">Cartas</p>
                </a>
            </li>
        </ul>
    </nav>

    <nav *ngIf="usersService.isLoginSubject.value" class="nav-login">
        <ul>
            <li class="about-item">
                <a routerLink="about" class="linkActive" routerLinkActive="active-link">
                    <img class="icono" src="../../../assets/images/header/Llamita_marron.png" alt="Magic Llanuras">
                    <p id="pAmarillo">About</p>
                </a>
            </li>
            <li >
                <a routerLink="cartas" class="linkActive" routerLinkActive="active-link" >
                    <img class="icono" src="../../../assets/images/header/Llamita_azul.png" alt="Magic Isla">
                    <p id="pAzul">Cartas</p>
                </a>
            </li>
            <li *ngIf="usersService.isLoginSubject.value">
                <a routerLink="mis-mazos" class="linkActive" routerLinkActive="active-link" >
                    <img class="icono" src="../../../assets/images/header/Llamita_morada.png" alt="Magic Pantano">
                    <p id="pMorado">Mis mazos</p>
                </a>
            </li>
            <li *ngIf="usersService.isLoginSubject.value">
                <a routerLink="explora" class="linkActive" routerLinkActive="active-link" >
                    <img class="icono" src="../../../assets/images/header/Llamita_roja.png" alt="Magic Montaña">
                <p id="pRojo">Explora</p>
                </a>
            </li>
            <li class="submenu" *ngIf="usersService.isLoginSubject.value">
                <a class="linkActive"  routerLinkActive="active-link" >
                    <img class="icono" src="../../../assets/images/header/Llamita_verde.png" alt="Magic Bosque">
                    <p class="pVerde">Eventos</p>
                </a>
                <ul class="children">
                    <li><a routerLink="evento"><p class="pVerde">Próximos eventos</p></a></li>
                    <li><a routerLink="calendario"><p class="pVerde">Calendario</p></a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
</header>