<div class="container">
    <div class="bg_img">
        <div class="bg_dark">
            <div class="delete_button">
                <button type="button" class="btn-close" (click)="card_info_close()" ></button>
            </div>
            <div class="title">{{ card.name }}</div>
            <div class="row main">
                <div class="col-5 box_left">
                    <img src="{{ card.image_uris }}" alt="Image">
                    <div class="pie_photo">precio: € {{ card.prices }}</div>
                </div>
                <div class="col-7 box_right">
                    <div class="text_box">
                        <h3 class="subtitle">Tipo: {{card.type_line}}</h3>
                        <h4 class="subtitle2">Indestructible</h4>
                        <h4 class="text">{{card.oracle_text}}</h4>
                    </div>  
                    <div class="etiquetas">
                        <div *ngFor="let legality of card.legalities" class="etiqueta">
                            <div class="button_type" [ngStyle]="{'background': getColor(legality.value)}">{{ legality.value | uppercase }}</div>
                            <div class="name_button_type">{{ legality.key }}</div>
                        </div>
                    </div>  
                </div>
            </div>  
        </div>
    </div>    
</div>