<div class="container">
    <div class="bg_img">
        <div class="bg_dark">
            <div class="delete_button">
                <button type="button" class="btn-close" >X</button>
            </div>
            <div class="title">title + number</div>
            <div class="row main">
                <div class="col-5 box_left">
                    <img src="" alt="">
                    <div class="pie_photo">precio: (pipe)€ 0.35</div>
                </div>
                <div class="col-7 box_right">
                    <div class="text_box">
                        <h3 class="subtitle">Tipo: dhdhdh</h3>
                        <h4 class="subtitle2">dewde</h4>
                        <h4 class="text">dede</h4>
                    </div>  
                    <div class="etiquetas">
                        <div class="etiqueta">
                            <div class="button_type">vfdgdfg</div>
                            <div class="name_button_type">gfdgdr</div>
                        </div>
                    </div>  
                </div>
            </div>  
        </div>
    </div>    
</div>
