
.bg_img{
    position:relative;
    margin: 5vh;
    width: 1028px;
    height: 917px;
    background-image: url(src/assets/images/fondos-info-card/flor.jpeg);
    border-radius: 20px;
    background-position: 68% 15%;
}

.bg_dark{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 4, 11, 0.85);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete_button{
    align-self: flex-end;
}

.btn-close{
    color: #f3f3f3;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 40px;
}

.title{
    color: var(--amarillo);
    font-family: var(--antiqua);
    font-size: 40px;
    margin-top: 20px;
}

.main{
    width: 100%;
    margin-top: 75px;
    color: #f3f3f3;
    /* display: flex;
    flex-direction: row;
    justify-content:space-around; */

}

.box_right{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.box_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 50px;

}


img{
    width: 284px;
    height: 363px ;
}

.pie_photo{
    color: #b3b3b3;
    font-size: 26px;
    font-family: var(--inter);
    margin-top: 36px;
}

.subtitle{
    color: #28669f;
    font-family: var(--inter);
    font-size: 32px;
}

.subtitle2{
    color: #5c724B;
    font-family: var(--inter);
    font-size: 20px;
}

.text{
    color: var(--blanco);
    font-family: var(--inter);
    font-size: 18px;
    

}

.etiquetas{
    margin-top: 40px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--blanco);
    font-family: var(--inter);
    font-size: 18px;

}

.etiqueta{
    height: 38px;
    width: 245px;
    color: var(--blanco);
    font-family: var(--inter);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 15px;
}

.button_type{
    background-color: grey;
    height: 37px;
    width: 122px;
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 5px;
    color: white;

}

.name_button_type{
    padding-top: 5px;
}