<div class="container">
    <div class="bg_img">
        <div class="bg_dark">
            <div class="delete_button">
                <span class="close-btn" (click)="card_info_close()">X</span>
            </div>
            <div class="title">{{ carta.printed_name ? carta.printed_name : carta.name }}</div>
            <div class="row main-cardinfo">
                <div class="col-4 col-sm-6 col-md-4 box_left">
                    <img src="{{ carta.image_uris }}" alt="Image" class="img-card">
                    <div class="card-price-container">
                        <span class="card-price-label">Precio:</span>
                        <span class="card-price-value">	{{ carta.prices | priceEuro }}</span>
                    </div>
                </div>
                <div class="col-8 col-sm-6 col-md-8 box_right">
                    <div class="text_box">
                        <h3 class="subtitle">{{ carta.type_line }}</h3>
                        
                        <!-- si no existe printed_text (español), muestra oracle_text : nao-->
                        <h4 class="oracle-text" [innerHTML]="(carta.printed_text ? carta.printed_text : carta.oracle_text) | cardSymbols : cardSymbolsData"></h4>

                    </div>  
                    <div class="etiquetas">
                        <div *ngFor="let legality of legalities" class="etiqueta">
                            <div class="button_type" [ngStyle]="{ 'background': getColor(legality.status) }">{{ legality.status | uppercase }}</div>
                            <div class="name_button_type">{{ legality.format }}</div>
                        </div>
                    </div>  
                </div>
            </div>  
        </div>
    </div>    
</div>