*{
  margin: 0;
  padding: 0;
}
#divfondo{
  width: 100%; /*importante*/
  min-width: 900px; /*importante*/
  padding-bottom: 30px;
  min-height: 1000px;
  background-image: url("../../../assets/images/fondos/fondo_evento.png");
  background-size: cover;
}

/* Div buscador*/
  .searchContainer{
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    margin-bottom: 50px;
  }
  #formBuscador {
    display: flex;
    width: 80%;
    margin-right: 5%;
  }
  #buscador {
    width: 100%;
    height: 60px;
    border-color: var(--verde);
    background-color: var(--negro-bg);
    border-radius: 10px 0 0 10px;
    padding-left: 25px;
    color: var(--blanco);
  }
  #buscador::placeholder {
    color: var(--verde);
    font-family: var(--antiqua);
    font-size: 22px;
  }
  select {
    width: 200px;
    height: 60px;
    background-color: var(--negro-bg);
    color: var(--verde);
    font-family: var(--inter);
    font-size: 20px;
    border: 3px solid var(--verde);
    text-align: center;
    border-right: none;
  }
/* Fin Div buscador*/

/* Card Evento */
  #divEvento{
    background-color: var(--negro-bg);
    border-radius: var(--borde-input);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    margin-bottom: 0px;
    width: 65%;
    height: 210px;
    text-align: center;
  }
  #divEvento h1{
    text-align: center;
    padding-top: 27px;
    padding-bottom: 10px;
    size: 20px;
  }
  #contenedor_info{
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  #divImg{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    /* margin: -50px auto; */
    position: relative; /*padre de marco-container*/
  }
  .marco-container{
    
    position: relative;
    width: 192px; /* mismo como marco*/
    height: auto; 
    margin: 0 auto;
  }
  #img_evento {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: 168px;
    z-index: 9;
  }
  .marco {
    width: 100%;
    height: auto;
    z-index: 999;
  }
  .nameuser {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--negro);
    font-size: 15px;
  }
  #divImg h2{
    text-align: center;
    padding-top: 5px;
    width: 100%;
  }
  h4, h2{
    font-family: var(--antiqua);
    color: var(--verde);
  }
  #div_info_evento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 10px;
    width: 55%;
  }
  #div_info_evento p{
    color: var(--blanco);
    font-family: var(--inter);
    text-align: center;
    margin-top: 10px;
  }
  .parr_img {
    width: 100%;
    display: flex; 
    align-items: center; 
    /* padding: 6px; */
  }
  .parr_img p {     /*!añadido para cuando item.place y item.direction es largo, va a ir a siquiente row*/
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .date{
    margin-top: 20px;
    align-self: center;
  }
/* Fin Card Evento */

/* Botones */
.botonesEventos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 15%;
}
  #button_sabermas, .button_lateral {
    border: var(--verde) solid 2px;
    background-color: var(--verde);
    border-radius: var(--borde-boton);
    color: var(--negro);
    font-family: var(--antiqua);
    font-size: 18px;
    border: none;
  }
  #button_sabermas:hover, .button_lateral:hover{
    background-color: var(--amarillo);
  }
  #button_sabermas{
    /* position: absolute; !hijo de #div_info_evento */
    /* bottom: -38px;
    right: 40px;
    height: 40px;
    width: 20%;
    color: var(--negro);
    margin-top: 10px;
    z-index: 6; */
    height: 40px;
    width: 150px;
  }
  .btnBuscador {
    width: 60px;
    height: 60px;
    color: var(--verde);
    background-color: var(--verde);
    background-image: url('/assets/images/iconos/ojo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 10% 10% 0;
    border: none;
  }
  .button_lateral {
    height: 60px;
    width: 15%;
  }

  .botonesCreador{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .iconosEventos{
    cursor: pointer;
  }
/* Fin botones */

/* Iconos */
  /* #icono_elim_edit{
    width: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
  }
  .icono_evento {
    display: inline;
    margin-right: 10px;
  }
  #img_inferior{
    margin-bottom: 30px;
    margin-top: 15px;
  }
  #img_superior{
    margin-top: 15px;
  } */
/* fin iconos */

/* pagination */
  .pagination{
    display: flex;
    align-items: center;
    height: 60px;
    width: 20%;
    margin: 0 auto;
  }
  .buttonPagination{
    /* padding-top: 10px; */
    height: 40px;
    width: 35%;
    background-color: var(--verde);
    border-radius: var(--borde-boton);
    font-family: var(--antiqua);
    font-size: 19px;
    color: var(--negro);
    border: none;
  }
  .buttonPagination:hover{
    background-color: var(--amarillo);
  }

  .paginationSpan{
    text-align: center;
    width: 30%;
    display: block;
    color: var(--blanco);
    font-family: var(--antiqua);
    padding: 10px;
    font-size: 19px;
  }
/* fin pagination */

/* modal detalle evento */

.modalEvent{
  position: absolute;
  top: 420px;
  right:500px;
  z-index: 999;
}
.modalEdit{
  position: absolute;
  top:180px;
}
.modalDelete{
  position: absolute;
  bottom: 0px;
  left: 800px;
  z-index: 9999;
}


@media (max-width: 768px) {
  #img_evento {
    width: 80%; /* Ajusta el tamaño según tu diseño */
  }
  #img_superior, #img_inferior{
    width:5px
  }
}
@media (max-width: 1200px) {
  #img_evento {
    width: 70%; /* Ajusta el tamaño según tu diseño */
  }
  #img_superior, #img_inferior{
    width:30px
  }
}


