<div class="search-container">
    <form id="formBuscador">
      <input type="text" id="buscador" name="buscador" placeholder="Buscar" />
      <button type="submit" class="btn-buscador"></button>
    </form>
    <button class="button_lateral">Añadir evento</button>
</div>

<div id="divEvento">
    <div id="divImg">
        <img id="img_evento" src="" alt="">
        <!-- <p>{{event.avater}}</p> -->
    </div>

    <div id="div_info_evento">
        <h1></h1>
        <div class="parr_img">
            <img class="icono_evento" src="" alt="">
            <p></p>
        </div>
        <div class="parr_img">
            <img class="icono_evento" src="" alt="">
            <p></p>
        </div>
        <div class="parr_img">
            <img class="icono_evento" src="" alt="">
            <p></p>
        </div>
        <div class="parr_img">
            <img class="icono_evento" src="" alt="">
            <p></p>
        </div>
    </div>

    <!-- <div id="icono_elim_edit" *ngIf="idBotonActivo === 'btnUsuario'"> -->
    <div id="icono_elim_edit">

        <img src="" alt="">
        <img src="" alt="">
    </div>

    <!-- <button class="button_participar">Participar</button> -->
</div>


