<div id="divfondo">

    <div class="search-container searchContainer">
        <form id="formBuscador">
            <input type="text" id="buscador" name="buscador" placeholder="Buscar" size="10" #buscador/>
            <select name="filtrar" id="filtrar" #filtroEventos>
                <option value="todos">Todos los eventos</option>
                <option value="misEventos">Mis eventos</option>
            </select>
            <button type="submit" class="btn-buscador btnBuscador" (click)="filtroEventos.value == 'todos' ? findEventsWithNameAllEvents(buscador.value): findEventsWithNameMyEvents(buscador.value)"></button>
        </form>
        <button class="button_lateral" (click)="openModalAdd()">Añadir evento</button>
    </div>

    <div *ngIf="modalAdd == true" class="modalEdit">
        <app-add-event (eventClose) = closeModalAdd($event)></app-add-event>
    </div>

    <div id="divEvento" *ngFor="let item of paginatedEvents; let i = index">
       
        <div id="contenedor_info">
            <div id="divImg">

                <div class="marco-container"> <!-- nuevo div para usar position relative -->
                    <img src="../../../assets/images/detalleEvento/legend.png" class="marco">
                    <img id="img_evento" src="{{item.creator.avatar}}" width="200px">
                    <h2 class="nameuser">{{ item.creator.nameUser }}</h2>
                </div>
                <!-- <img src="../../../assets/images/detalleEvento/legend.png" class="marco">
                <img id="img_evento" src="{{item.creator.avatar}}" width="200px">
                <h2 class="nameuser">{{ item.creator.nameUser }}</h2> -->
            </div>
    
            <div id="div_info_evento">
                <h4>{{ item.title }}</h4>
                <div class="parr_img date">
                    <img class="icono_evento" src="../../../assets/images/iconos/fecha_evento.png" width="30px">
                    <p>&nbsp;&nbsp;{{ item.date | date:'dd/MM/yyyy' }}</p><p> , </p>
                    <p>&nbsp;&nbsp;{{ item.hour }}</p>
                </div>
                <div class="parr_img">
                    <img class="icono_evento" src="../../../assets/images/iconos/lugar_evento.png" width="28px">
                    <p>&nbsp;&nbsp;{{ item.place }}   ,   {{ item.direction }}</p>
                </div> 
            </div>

            <div class="botonesEventos">
                <div *ngIf="item.creator.id_user === id_logueado.id_user && loadUser" class="botonesCreador">
                    <img (click)="editar(item)" src="../../../assets/images/iconos/editar.png" alt="" class="iconosEventos">
                    <img (click)="eliminar(item)" src="../../../assets/images/iconos/eliminar.png" alt="" class="iconosEventos">
                </div>
                <button id="button_sabermas" (click)="openModalDetail(item)">Saber más</button>


            </div> 

            <!-- <div id="icono_elim_edit" *ngIf="item.creator.id_user === id_logueado">
                <img (click)="openModalEdit(item)" id="img_superior" src="../../../assets/images/iconos/editar_evento.png" width="45px">
                <img (click)="openModalDeleteEvent(item)" data-bs-toggle="modal" data-bs-target="#deleteEvent" id="img_inferior"src="../../../assets/images/iconos/eliminar_evento.png" width="45px">
            </div> -->
        </div>
        
    </div>

    
    <div *ngIf="modalEdit" class="modalEdit">
        <app-edit-event [evento]="eventoSelect" (eventClose)="closeModalEdit($event)"></app-edit-event>
    </div>
    <div *ngIf="modalDelete" class="modalDelete">
        <app-delete-event [eventoAEliminar]="eventoSelect" (eventClose)="closeModalDelete($event)"></app-delete-event>
    </div>
    <div *ngIf="modalDetail == true" class="modalEvent">
        <app-detail-event [evento]="selectEvento" (eventCloseDetail)="closeModalSaberMas($event)" [type]="id_logueado" [type]="typeButton"></app-detail-event>
    </div>
    
       
    

    <!-- Pagination -->
    <div class="pagination" *ngIf="totalPages > 1">
        <button class="buttonPagination" (click)="prevPage()">Anterior</button>
        <span class="paginationSpan">{{ currentPage + 1 }} / {{ totalPages }}</span>
        <button class="buttonPagination" (click)="nextPage()">Siguiente</button>
    </div>

</div>


