<main>
    <section [ngClass]="modal == false ? 'container': 'editContainer'">
        <div class="infoPerfil">
            <div class="cardPerfil">

                <div class="nameContainer">
                    <p id="nameUser">{{user.name}}</p>
                </div>

                <img class="imgCard" [src]="user.marco" alt="">
                <img class="imgFondo" src="../../../assets/images/profile/fondoCarta.png" alt="">
                <img class="imgAvatar" [src]="user.photo" alt="">
                
                <div class="sobreMiContainer">
                    <p class="sobreMi">Criatura - humano</p>
                    <img class="iconSobreMi" src="../../../assets/images/iconos/humano.png" alt="">
                </div>
                
                <div class="infoUser">
                    <div class="email">
                        <p id="emailTitle">Correo Electrónico</p>
                        <p id="emailUser">{{user.email}}</p>
                    </div>
                    <hr class="line">
                    <div class="description">
                        <p id="descriptionTitle">Descripción</p>
                        <p id="descriptionUser">{{user.description}}</p>
                    </div>
                </div>

            </div>
            <div *ngIf="editarFoto == false; else cambiar">
                <button class="buttonEditFoto" (click)="editPhoto()">Editar Foto/Tierra</button>
            </div>
            <ng-template #cambiar>
                <button type="button" class="buttonSaveFoto" (click)="editPhoto()">Guardar cambios </button>
            </ng-template>
        </div>

        <div *ngIf="modal == false; else viewModal" class="container2">
            <div class="tituloPerfil">
                <h1 id="titulo" 
                [style.color]="user.marco == this.marcos[1] ? '#28669F' :
                                user.marco == this.marcos[2] ? '#643D6A':
                                user.marco == this.marcos[3] ? '#B6281A':
                                user.marco == this.marcos[4] ? '#5C724B':''">
                    Perfil
                </h1>
                <img src="../../../assets/images/iconos/cartas.png" alt="">
            </div>
    
            <div class="modificarPerfil">
                
                <div class="editTitle">
                    <h2 id="title2"
                    [style.color]="user.marco == this.marcos[1] ? '#28669F' :
                                user.marco == this.marcos[2] ? '#643D6A':
                                user.marco == this.marcos[3] ? '#B6281A':
                                user.marco == this.marcos[4] ? '#5C724B':''">
                        Modificar perfil
                    </h2>
                    <hr id="line2">
                </div>
    
                <!-- *NOTE - AÑADIR VALIDACIONES A LA VISTA + maxlength en name -->
                <form [formGroup]="editForm" class="editForm">
                   
                    <input type="text" name="user" id="user" placeholder="Nombre de usuario" 
                    #name formControlName="name"
                    [style.borderColor]="user.marco == this.marcos[1] ? '#28669F' :
                                user.marco == this.marcos[2] ? '#643D6A':
                                user.marco == this.marcos[3] ? '#B6281A':
                                user.marco == this.marcos[4] ? '#5C724B':''">
                    
                    <input type="email" name="email" id="email" placeholder="Correo electrónico" 
                    #email formControlName="email"
                    [style.borderColor]="user.marco == this.marcos[1] ? '#28669F' :
                    user.marco == this.marcos[2] ? '#643D6A':
                    user.marco == this.marcos[3] ? '#B6281A':
                    user.marco == this.marcos[4] ? '#5C724B':''">
                 
                    <textarea name="description" id="description" cols="1" rows="4" placeholder="Añade aquí tu descripción" 
                    #description formControlName="description"
                    [style.borderColor]="user.marco == this.marcos[1] ? '#28669F' :
                    user.marco == this.marcos[2] ? '#643D6A':
                    user.marco == this.marcos[3] ? '#B6281A':
                    user.marco == this.marcos[4] ? '#5C724B':''"></textarea>
                    
                    <input type="password" name="password" id="password" placeholder="Contraseña" 
                    #password formControlName="password"
                    [style.borderColor]="user.marco == this.marcos[1] ? '#28669F' :
                    user.marco == this.marcos[2] ? '#643D6A':
                    user.marco == this.marcos[3] ? '#B6281A':
                    user.marco == this.marcos[4] ? '#5C724B':''">
          
                    
                    <input type="password" name="password2" id="password2" placeholder="Repite Contraseña" 
                    #password2 formControlName="password2"
                    [style.borderColor]="user.marco == this.marcos[1] ? '#28669F' :
                    user.marco == this.marcos[2] ? '#643D6A':
                    user.marco == this.marcos[3] ? '#B6281A':
                    user.marco == this.marcos[4] ? '#5C724B':''">
    
                    <div *ngIf="editar == false; else guardar">
                        <button type="button" class="editButton" (click)="edit(name.value, email.value, password.value, description.value)">Editar</button>
                    </div>
    
                    <ng-template #guardar>
                        <button type="button" [ngClass]="editar == true ? 'saveButton': ''" (click)="edit(name.value, email.value, password.value, description.value)">Guardar Cambios</button>
                    </ng-template>
    
                </form>
            </div>
        </div>
      
        <ng-template #viewModal>
            <app-modal-profile (eventoAvatar) = seleccionAvatar($event) (eventoTierra) = seleccionTierra($event)></app-modal-profile>
        </ng-template>
    </section>
</main>