<main class="modalEdit">
    <img id="close" src="../../../assets/images/iconos/Close.png" alt="" (click)="close()">
    <h3 class="titulo">Editar evento</h3>

  
    <div class="content-form">
        <form class="form" [formGroup]="editEvent">

            <input type="text" placeholder="Titulo evento" formControlName="title"
            [ngClass]="{
                'is-invalid': (editEvent.get('title').dirty || editEvent.get('title').touched) && !editEvent.get('title').valid,
                'valid': editEvent.get('title').valid
            }">
            <div *ngIf="editEvent.get('title').invalid" class="invalid-feedback m-0 text-center">
                <div *ngIf="editEvent.get('title').errors?.maxlength">Titulo demasiado largo</div>
                <div *ngIf="editEvent.get('title').errors?.required">Escribe un titulo para el evento</div> 
            </div>
                  
            <input type="date" placeholder="Fecha" formControlName="date"
            [ngClass]="{
                'is-invalid': (editEvent.get('date').dirty || editEvent.get('date').touched) && !editEvent.get('date').valid,
                'valid': editEvent.get('date').valid
            }" >
            <div *ngIf="editEvent.get('date').invalid" class="invalid-feedback m-0 text-center">
                <div *ngIf="editEvent.get('date').errors?.required">Selecciona una fecha del evento</div> 
            </div>

            <input type="time" placeholder="Hora" formControlName="time"
            [ngClass]="{
                'is-invalid': (editEvent.get('time').dirty || editEvent.get('time').touched) && !editEvent.get('time').valid,
                'valid': editEvent.get('time').valid
            }">
            <div *ngIf="editEvent.get('time').invalid" class="invalid-feedback m-0 text-center">
                <div *ngIf="editEvent.get('time').errors?.required">  Selecciona una hora del evento</div> 
            </div>

            <input type="text" placeholder="Nombre del lugar" formControlName="place"
            [ngClass]="{
                'is-invalid': (editEvent.get('place').dirty || editEvent.get('place').touched) && !editEvent.get('place').valid,
                'valid': editEvent.get('place').valid
            }">
            <div *ngIf="editEvent.get('place').invalid" class="invalid-feedback m-0 text-center">
                <div *ngIf="editEvent.get('place').errors?.required">    Escribe el nombre del lugar del evento</div> 
            </div>

            <input type="text" placeholder="Dirección" formControlName="direction"
            [ngClass]="{
                'is-invalid': (editEvent.get('direction').dirty || editEvent.get('direction').touched) && !editEvent.get('direction').valid,
                'valid': editEvent.get('direction').valid
            }">
            <div *ngIf="editEvent.get('direction').invalid" class="invalid-feedback m-0 text-center">
                <div *ngIf="editEvent.get('direction').errors?.required">Escribe la dirección del evento</div> 
            </div>
            
            <textarea placeholder="Descripcion" formControlName="description" 
            [ngClass]="{
                'is-invalid': (editEvent.get('description').dirty || editEvent.get('description').touched) && !editEvent.get('description').valid,
                'valid': editEvent.get('description').valid
            }">
            </textarea>
            <div *ngIf="editEvent.get('description').invalid" class="invalid-feedback m-0 text-center">
                <div *ngIf="editEvent.get('description').errors?.maxlength">Descripción demasiado largo</div>
            </div>
            <div *ngIf="editar == false; else guardar">
                <button type="button" class="buttonEditar" (click)="edit(evento.id,titleEvent.value, descriptionEvent.value, dateEvent.value, hourEvent.value, placeEvent.value, direction.value, evento.creator)">Editar</button>
            </div>
            <ng-template #guardar>
                <button type="button" [ngClass]="editar == true ? 'saveButton': ''"
                [disabled]="!addEvent.valid"
                (click)="edit(evento.id, titleEvent.value, descriptionEvent.value, dateEvent.value, hourEvent.value, placeEvent.value, direction.value, evento.creator)">Añadir</button>
            </ng-template>

        </form>
    </div>
</main>