<body>
    <main>
        <div class="bloqueFoto">
            <div class="titulo-container">
                <img src="/assets/images/about/Sobre MagicG 1.png" alt="">
            </div>
        </div>

        <div class="bloqueAmarillo">
            <div class="iconoAmarillo">
                <img src="/assets/images/about/iconoAmarillo.png" alt="">
            </div>
            <div class="textoAmarillo">Descubre un universo de maravillas y misterios,<br> 
                donde cada paso es un viaje hacia lo extraordinario.</div>
        </div>

        <div class="fotoAmarilla"></div>

        <div class="bloqueAzul">
            <div class="textoAzul">
                <h1>Historia</h1>
                <h2>La historia de Magic se desarrolla en un vasto universo <br>
                lleno de mundos, criaturas y conflictos épicos. Desde <br>
            Dominaria hasta Theros y Zendikar, los jugadores se <br>
        sumergen en intrigas políticas, guerras interplanetarias <br>
    y enfrentamientos con dioses y dragones. A lo largo de <br>
los años, la historia ha evolucionado a través de <br>
múltiples expansiones, añadiendo profundidad y <br>
emoción al universo del juego.</h2>
            <a href="https://magic.wizards.com/es"><h1>Saber más</h1></a>
            </div>
            <div class="iconoAzul">
                <img src="/assets/images/about/iconoAzul.png" alt="">
            </div>
        </div>

        <div class="fotoAzul"></div>

        <div class="bloqueMorado">
            <div class="iconoMorado">
                <img src="/assets/images/about/iconoMorado.png" alt="">
            </div>

            <div class="textoMorado">
                <h1>Por dónde Empezar</h1>
                <h2>Para comenzar con Magic: The Gathering, primero debes <br>
                obtener un mazo básico. Luego, aprende las reglas <br>
            básicas del juego y familiarízate con las cartas. Puedes <br>
        practicar con amigos o en eventos locales. Explora <br>
    diferentes estrategias y estilos de juego mientras <br>
construyes tu mazo personalizado. ¡Disfruta del <br>
emocionante mundo de Magic! </h2>
            <a href="https://magic.wizards.com/es"><h1>Saber más</h1></a>
            </div>
        </div>

    <div class="fotoMorada"></div>

    <div class="bloqueRojo">
        <div class="textoRojo">
            <h1>Cómo Jugar</h1>
            <h2>Cada jugador construye un mazo personalizado <br>
            utilizando una combinación de cartas de diferentes tipos: <br>
        tierras, que proporcionan maná para jugar otras cartas;<br>
        criaturas, que luchan en el campo de batalla; hechizos, <br>
    que tienen efectos diversos; y artefactos, que pueden <br>
ofrecer ventajas adicionales.</h2>
        <a href="https://magic.wizards.com/es"><h1>Saber más</h1></a>
        </div>
        <div class="iconoRojo">
            <img src="/assets/images/about/iconoRojo.png" alt="">
        </div>
    </div>

    <div class="fotoVerde"></div>

    <div class="bloqueVerde">
        <div class="iconoVerde">
            <img src="/assets/images/about/iconoVerde.png" alt="">
        </div>

        <div class="textoVerde">
            <h1>Tipos de Juego</h1>
            <h2>En Magic: The Gathering hay varios tipos de juego. El <br>
            más común es el formato "Estándar", donde solo se <br>
        permiten las cartas más recientes. También hay formatos <br>
    como "Moderno" y "Comander" que tienen sus propias <br>
restricciones de cartas y reglas únicas. Además, puedes <br>
jugar partidas informales o torneos competitivos en <br>
tiendas locales o en línea. ¡Explora diferentes formatos y <br>
encuentra el que más te guste!</h2>
        <a href="https://magic.wizards.com/es"><h1>Saber más</h1></a>
        </div>
    </div>

    </main>
</body>