<div class="background-wrapper">
    <div [ngClass]= "darkenOverlay ? 'bg_dark' : ''">
        <div class="container_cardinfo" *ngIf="show_cardinfo">
            <app-card-info [carta]="selectedCard" (onCardInfoClose)="onCardInfoClose($event)">X</app-card-info>
        </div>

        <div class="container_cardinfo" *ngIf="!show_cardinfo">
            <section class="swiper-wrapper">
                <swiper-container #mySwiper 
                class="mySwiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff; width:600px" 
                effect="coverflow"
                grab-cursor="true"
                pagination="true" 
                centered-slides="true"
                pagination-clickable="true" 
                slides-per-view="3"
                coverflow-effect-rotate="0"
                coverflow-effect-stretch="0"
                coverflow-effect-depth="100"
                coverflow-effect-modifier="2.5"
                coverflow-effect-slide-shadows="true"
                >

                <swiper-slide *ngIf="datos[0]">
                    <img [src]="getFirstPlaneswalkerOrLegendaryCreatureImage(datos[0])" loading="lazy" class="image-slide">
                  </swiper-slide>
                  <swiper-slide *ngIf="datos[1]">
                    <img [src]="getFirstPlaneswalkerOrLegendaryCreatureImage(datos[1])" loading="lazy" class="image-slide">
                  </swiper-slide>
                  <swiper-slide *ngIf="datos[2]">
                    <img [src]="getFirstPlaneswalkerOrLegendaryCreatureImage(datos[2])" loading="lazy" class="image-slide">
                  </swiper-slide>
                  <swiper-slide *ngIf="datos[3]">
                    <img [src]="getFirstPlaneswalkerOrLegendaryCreatureImage(datos[3])" loading="lazy" class="image-slide">
                  </swiper-slide>
                  <swiper-slide *ngIf="datos[4]">
                    <img [src]="getFirstPlaneswalkerOrLegendaryCreatureImage(datos[4])" loading="lazy" class="image-slide">
                  </swiper-slide>

                </swiper-container>

            </section>





            <section class="deckcards-wrapper">
                    <div class="deckname-wrapper">
                        <img src="/assets/images/iconos/compartir.png" alt="img-share" class="icon-share" style="cursor: pointer;" (click)="onToggleShare()">
                        <div class="deckname">
                            <span *ngIf="!isEditing">{{mazo?.nameDeck}}</span>
                            <div *ngIf="!isEditing">
                                <img src="/assets/images/iconos/plumaEditarVerde.png" alt="img-edit" class="icon-edit" style="cursor: pointer;" (click)="startEdit()">
                            </div>
                            <input *ngIf="isEditing" type="text" [(ngModel)]="editedName" class="editDeckNameInput">
                            <div *ngIf="isEditing" style="cursor: pointer">
                                <mat-icon class="done-icon" (click)="saveEdit()" >done_outline</mat-icon>
                            </div>
                        </div>


                    </div>
                    <div class="filter">
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('all')">Todas las cartas</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('creature')">Criaturas</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('artifact')">Artefactos</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('enchantment')">Encantamientos</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('sorcery')">Conjuros</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('instance')">Instantáneas</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('planeswalker')">Planeswalkers</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('battle')">Batallas</p></div>
                        <div class="filter-list"><p class="filter-name" (click)="onFilterClick('land')">Tierras</p></div>
                    </div>
                    <div class="counter-wrapper">
                        <div class="counter">
                            <img src="/assets/images/iconos/contador-morado.png" alt="img-counter" class="img-counter">
                            <p id="total-cards">{{ mazo?.cards ? getTotalQuantity(mazo.cards) : 0  }}/60</p>
                        </div>
                    </div>
                    <div class="cards-wrapper">

                           <div class="list-cards" *ngIf="filteredCards.length > 0">
                            <div *ngFor="let card of filteredCards; let i = index">
                                <app-card 
                                    [childCard]="card" 
                                    [templateCard]="'type5'"
                                    (childCardClicked)="onCardInfoOpen($event)" 
                                    (countMinusFromChild)="onDecreaseCardQuantityFromChild($event)"
                                    (countPlusFromChild)="onIncreaseCardQuantityFromChild($event)"
                                    (deleteAllQuantityFromChild)="onDeleteAllCardsFromChild($event)"
                                ></app-card>
                            </div>
                        
                            <div class="list-cards" *ngIf="filteredCards.length === 0">
                                <div>
                                    No tienes nínguna carta de este categoría

                                </div>
                            </div>

                            <div class="results-wrapper" *ngIf="mazo?.cards?.length === 0">
                                <div class="no-results-message">
                                <p class="message">No hay ninguna carta en este mazo.</p>
                                </div>
                            </div>
                        </div>


                    </div>
            </section>
        </div>
    </div>
</div>
