/*para modal de xisca*/
.bg_dark{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.85) ;
    background-position: center;
    z-index:0;
    transition: background 1s ease;
}

.background-wrapper {
    min-height: 100vh;
    position: relative;
    background-color: var(--negro-bg);
}
.swiper-wrapper {
    background-image: url('/assets/images/fondos/fondo-mismazos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:64px 0 48px 0;
}

.title {
    font-family: var(--antiqua);
    font-size: 58px;
    color: var(--amarillo);
    padding: 0 0 32px 0;
}

.deckcards-wrapper {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/assets/images/fondos/Fondo_morado.png');
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-container {
    width: 1000px;
    height: 320px;
}

.deckcards-wrapper{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/assets/images/fondos/Fondo_morado.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.deckname-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.deckname {
    font-family: var(--antiqua);
    color: var(--amarillo);
    font-size: 48px;
    padding-top:40px;
}

.filter{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filter-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.filter-name{
    font-size: 15pt;
    font-family: var(--inter);
    color: var(--blanco);
}

.filter-name:hover{
    color: var(--amarillo);
    cursor: pointer;
    text-decoration: underline;
}

.cards-wrapper{
    width: 87%;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--negro-bg);
    border-radius: var(--borde-cuadrado);
}

.counter{
    position: relative;
    bottom: 38px;
}

.img-counter{
    width: 160px;
}

#total-cards{
    position: absolute;
    top: 21px;
    left: 49px;
    font-family: var(--antiqua);
    color: var(--amarillo);
    font-size: 20pt;
}

.list-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.message{
    font-family: var(--inter);
    color: var(--blanco);
}

@media screen and (1025 < width) {
    .swiper-container {
        width: 1000px;
    }
  }

@media screen and (1025 <= width <= 1200) {
    .swiper-container {
        width: 880px;
    }
  }
  
@media screen and (769 <= width < 1025) {
    .swiper-container {
        width: 640px;
    }
}

@media screen and (481 <= width < 769) {
    .swiper-container {
        width: 400px;
    }
}

@media screen and (320 <= width < 481) {
    .swiper-container {
        width: 240px;
    }
}