<div class="modal-container">
    <div class="modal-content">
      <button class="close-button" (click)="closeModal()">
        <img src="/assets/images/iconos/Close.png" alt="Close Button"> <!-- Imagen de botón de cierre -->
      </button>
      <img class="modal-image" src="/assets/images/landing/fondoWarning.jpg" alt="Background Image">
      <div class="modal-content-inner">
        <h2 class="modal-title">¡Descubre más contenido!</h2>
        <div class="modal-body">
            <p>Regístrate para acceder a contenido exclusivo y disfrutar de todas las características de nuestra aplicación.</p>
            <button class="modal-button" (click)="openRegistrationPage()">Regístrate</button>
          </div>
          
      </div>
    </div>
  </div>
  