main{
    background-image: url('src/assets/images/calendario/fondoCastillo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1300px;
    display: flex;
}

.cuadroIzq{
    height: 950px;
    width: 60%;
    border-radius: 20px 0 0 20px;
    margin-left: 120px;
    margin-top: 160px;
    background-image: url('src/assets/images/fondos/Fondo_verde2.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titulo{
    font-family: var(--antiqua);
    color: var(--verde);
    font-size: 4rem;
    margin-top: 45px;
}


 #calendar{
    height: 800px;
    width: 85%;
    color: var(--blanco);
    font-family: var(--antiqua);

}

.mat-calendar{
    color: var(--blanco);
    font-family: var(--antiqua);
    border: solid yellow 2px;
    height: 100%;
} 

::ng-deep .mat-calendar-body-label{
    color: var(--blanco);
}

::ng-deep .mat-calendar-body-cell-content{
    color: var(--blanco);
}


.cuadroDcha{
    height: 950px;
    width: 32%;
    margin-right: 120px;
    margin-top: 160px;
    background-color: black;
    opacity: 0.85;
    border-radius: 0 20px 20px 0;

}

.barra{
    width: 50px;
    height: 100%;

}

.text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 950px;
    margin-bottom:15px;
}

.title_date{
    width: 330px;
    height: 64px;
    color: var(--amarillo);
    font-family: var(--antiqua);
}

.detalle_evento{
    color: #ffffff;
    font-family: var(--antiqua);
}

.descripcion{
    margin-left: 50px;

}


