


<main>
    <div class="cuadroIzq">
        <div class="titulo">Calendario</div>
            <div id="calendar">
                <mat-calendar [selected]="selectedDate" (selectedChange)="onDateChange($event)" 
                firstDayOfWeek="1"></mat-calendar> 
            </div>

        </div>
        <div class="cuadroDcha">
            <div class="agenda">
                <h1 class="title_date">2 enero 2024</h1>
                <img src="/assets/images/calendario/Line 11.png" alt="">
                    <div class="evento" *ngFor="let info of events[0].event">
                        <div class="eventoInfo">
                        <h2 class="titulo_evento">{{info.titulo}}</h2>
                        <h3 class="detalle_evento_lugar">{{info.lugar_hora}}</h3>
                        <h3 class="detalle_evento_descripcion">{{info.descripcion}}</h3>
                        </div>
                        <div class="botones">
                            <button class="editar"></button>
                            <button class="eliminar"></button>
                        </div>
                    </div>
                    <img src="/assets/images/calendario/Line 11.png" alt="">
                </div>
    
        </div>
</main>