main{
    background-image: url('src/assets/images/calendario/fondoCastillo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    display: flex;
}

.cuadroIzq{
    height: 1100px;
    width: 60%;
    border-radius: 20px 0 0 20px;
    margin-left: 120px;
    margin-top: 160px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('src/assets/images/fondos/Fondo_verde2.png');    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titulo{
    font-family: var(--antiqua);
    color: var(--verde);
    font-size: 4rem;
    margin-top: 45px;
}


 #calendar{
    height: 965px;
    width: 85%;
    color: var(--blanco);
    font-family: var(--antiqua);

}

.mat-calendar{
    color: var(--blanco);
    font-family: var(--antiqua);
    height: 100%;
} 

span{
    color: var(--blanco);
    font-family: var(--antiqua);
}

polygon {
    fill: var(--blanco);
}

td.mat-calendar-body-label {
    font-family: var(--antiqua);
    color: var(--blanco);
}

span.mat-calendar-body-cell-content.mat-focus-indicator {
    color: var(--blanco);
    border-color: var(--blanco);
    border-radius: 0;
}

span.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected.mat-calendar-body-today {
    border-color: var(--amarillo);
    background-color: var(--verde);
    color: var(--blanco);
}
.cuadroDcha{
    height: 1100px;
    width: 32%;
    margin-right: 120px;
    margin-top: 160px;
    background-color: black;
    opacity: 0.85;
    border-radius: 0 20px 20px 0;

}


