<div class="body">
    <div [ngClass]= "myClass ? 'bg_dark' : ''">
        <div class="container">
            <div class="container_login" *ngIf="show_login">
                <app-login (onLoginClose)="loginClose($event)"></app-login>
            </div>
            <h3>Registro</h3>
            <form class="form"[formGroup]="registerForm" >
                <div class="form-group"> 
                    <input type="text" placeholder="Nombre De Usuario" formControlName="nameUser" [ngClass]="{'is-invalid': (registerForm.get('nameUser').dirty || registerForm.get('nameUser').touched) && !registerForm.get('nameUser').valid}">
                    <div *ngIf="!registerForm.get('nameUser').valid" class="invalid-feedback">El nombre es necesario.</div>
                </div>
                <div class="form-group"> 
                    <input type="email" placeholder="Correo Electrónico" formControlName="emailUser" [ngClass]="{'is-invalid': (registerForm.get('emailUser').dirty || registerForm.get('emailUser').touched) && !registerForm.get('emailUser').valid}">
                    <div *ngIf="!registerForm.get('emailUser').valid" class="invalid-feedback">
                        <div *ngIf="registerForm.get('emailUser').errors.required">El email es necesario.</div>
                        <div *ngIf="registerForm.get('emailUser').errors.email">Dirección email incorrecta.</div>
                    </div>
                </div>
                <div class="form-group"> 
                    <input [type]="changetype1?'password': 'text' " placeholder="Contraseña" formControlName="passwordUser" [ngClass]="{'is-invalid': (registerForm.get('passwordUser').dirty || registerForm.get('passwordUser').touched) && !registerForm.get('passwordUser').valid}">
                    <span class="eyeicon" (click)="viewPass(1)"> 
                        <mat-icon>{{ visible1 ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </span>
                    <div *ngIf="!registerForm.get('passwordUser').valid" class="invalid-feedback">
                        <div *ngIf="registerForm.get('passwordUser').errors.required">La contraseña es necesaria.</div>
                        <div *ngIf="registerForm.get('passwordUser').errors.minLength">La contraseña tiene que tener un mínimo de 8 carácteres.</div>
                    </div>
                </div>
                <div class="form-group"> 
                    <input [type]="changetype2?'password': 'text' " placeholder="Repite Contraseña" formControlName="repeat_password" [ngClass]="{'is-invalid': (registerForm.get('repeat_password').dirty || registerForm.get('repeat_password').touched) && !registerForm.get('repeat_password').valid}" >
                    <span class="eyeicon" (click)="viewPass(2)"> 
                        <mat-icon>{{ visible2 ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </span>
                    <div *ngIf="!registerForm.get('repeat_password').valid" class="invalid-feedback">
                        <div *ngIf="registerForm.get('repeat_password').errors.required">La contraseña es necesaria.</div>
                        <div *ngIf="registerForm.get('repeat_password').errors.matchPassword">La contraseña tiene que ser la misma.</div>
                    </div>
                </div>
                <div class="pie">
                    <div class="pie1">*Términos y Condiciones *Política de Privacidad </div>
                    <div class="pie2">
                        <div>Si ya tienes cuenta </div>
                        <button class="link" (click)="login()">inicia sesión aquí</button>
                    </div>
                </div>
                <button class="button" [disabled]="registerForm.invalid" (click)="register()">Registrate</button>
            </form>
        </div>
    </div>
</div>
