.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(src/assets/images/fondos/aArco_register.png) ;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.bg_dark{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.85) ;
    background-position: center;
    z-index:0;
}

.container{
    width: 593px;
    height: 750px;
    background-color:rgba(10, 4, 11, 1);
    border-radius: var(--borde-cuadrado);
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.container_login{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 100%;
}

h3{
    text-align:center;
    font-family: var(--antiqua);
    color: var(--amarillo);
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 48px;
    position: absolute;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    margin-top: 130px;
}

input{
    border: 2px solid var(--morado);
    background-color: var(--negro);
    color: var(--blanco);
    padding:10px;
    margin-top:10px;
    border-radius: var(--borde-input);
    width: 432px ;
    height: 70px;
    font-family: var(--inter);
    font-size: 24px;

}

.pie1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    color: var(--morado);
}

.pie2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--morado);
}

.link{
    margin-left: 5px;
    color: var(--amarillo);
    text-decoration: underline;
    background:none;
    border: none; 
    cursor: pointer;
}

.button{
    border-radius: var(--borde-boton);
    width: 187px;
    height: 61px;
    font-family: var(--antiqua);
    background-color: var(--morado);
    filter: brightness(80%);
    margin-top: 30px;
    font-size: 20px ;
    color: #010208;
}