<div class="background">
    <div class="container">
        <h3>Registro</h3>
        <form class="form">
            <div class="form-group"> 
                <input type="text" placeholder="Nombre De Usuario">
            </div>
            <div class="form-group"> 
                <input type="text" placeholder="Correo Electrónico">
            </div>
            <div class="form-group"> 
                <input type="text" placeholder="Contraseña">
            </div>
            <div class="form-group"> 
                <input type="text" placeholder="Repite Contraseña">
            </div>
            <div class="pie">
                <div class="pie1">*Términos y Condiciones *Política de Privacidad </div>
                <div class="pie2">
                    <div>Si ya tienes cuenta </div>
                    <div class="link">inicia sesión aquí</div>
                </div>
            </div>
            <button class="button">Registrate</button>
        </form>
    </div>
</div>
