.mainExplora{
    width: 100%;
    min-width: 900px;
    display: flex;
    flex-direction: column;
 
    /* background-color: black; */
}

.mazos, .explora{
    min-height: 1150px;
    width: 100%;
    padding: 60px;
    padding-right: 100px;
    background-size: cover;
}

/* BUSCADORES */
.mazos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
    background-image: url(../../../assets/images/explora/fondoExplora.png);
    background-size: cover;
}

.buscador{ 
    width: 1200px;
    padding: 40px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--negro-bg);
    border-radius: var(--borde-cuadrado);
}

.titulo{
    display: flex;
    justify-content: center;
    
}

.tituloh2{
    color: var(--amarillo);
    font-family: var(--antiqua);
    font-size: 28pt;
    text-align: center;
}

.buscar{
    width: 100%;
}

.form{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.input{
    height: 60px;
    padding: 10px;
    border: solid var(--rojo) 2px;
    border-radius: var(--borde-input);
}

.input, input::placeholder{
    background-color: transparent;
    color: var(--blanco);
    font-family: var(--inter);
    font-size: 14pt;
    text-align: center;
}
.input2{
    width: 300px;
}

.select{
    width: 200px;
    background-color: transparent;
}

option{
    background-color: var(--negro-bg);
    color: var(--blanco); 
}

select:focus{ outline: none;}

.input:hover{
    border-color: var(--amarillo);
}
.searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
}

.searchButton:hover{
    background-color: rgba(92, 114, 75, 0.2);
    border-color: var(--verde);
}

#lupa{
    width: 50px;
}

/* Resultados1 */

.scroll, .scroll2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 305px;

    border-radius: var(--borde-cuadrado);
    background-color: rgba(30, 6, 3, 0.5);
    overflow-x: hidden;
}
.scroll2{
    overflow-y: hidden;
}


.bucle{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.leyenda{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 5px
}
.datos{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #330a05;
    border-radius: var(--borde-input);
    color: var(--rojo);
    font-family: var(--inter);
    font-size: 16pt;
}

.puntuacion{
    width: 130px;
}

.usuario, .mazo{
    width: 250px;
}

.explorar, .estrellas{
    width: 200px;;
}

.estrellas{
    gap: 5px;
}


cdk-virtual-scroll-viewport::-webkit-scrollbar{
     background-color: transparent;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb{
    background-color: rgba(195, 138, 49, 0.6);
    border-radius: var(--borde-cuadrado);
}

cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb:hover{
    background-color: var(--amarillo); 
    cursor: pointer;
}


/* EXPLORA */
.explora{
    background-image: url(../../../assets/images/explora/fondoExplora2.png);
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    z-index: 9;
}

.filtros{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.nombreFiltro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoFiltro{
    font-size: 15pt;
    font-family: var(--antiqua);
    color: var(--blanco);
}

.textoFiltro:hover{
    color: var(--amarillo);
    cursor: pointer;
}
.textoFiltro:hover, .filtro{
 
    text-decoration: underline var(--amarillo);
    text-decoration-thickness: 2px;

}

.cartas{
    position: relative;
    width: 87%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.50) ;
    border-radius: var(--borde-cuadrado);
}

.contador{
    position: relative;
    bottom: 40px;
}

#numCartas{
    position: absolute;
    top: 18px;
    left: 50px;
    font-family: var(--antiqua);
    color: var(--amarillo);
    font-size: 20pt;
}

.bucleContainer2{
    margin-top: -25px;
    width: 100%;
    height: 100%;
}

.cartasContainer{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.close{
    position: absolute;
    right: 0;
}

#imgClose{
    width: 50px;
    cursor: pointer;
}

.cardInfo{
    position: absolute;
    z-index: 999;
    transform: scale(0);
    transition: 1.25s ease;
}

.cardInfo.visible{
    transform: scale(1);
}



/* RESPONSIVE */

 @media screen and (max-width: 1350px)  
{
    .mazos{
        align-items: center;
        padding: 0px;
    }
}

@media screen and (max-width: 1100px)  
{
    
    .buscador{ 
        width: 100%;
        padding: 40px;
    }
}

@media screen and (max-width: 1025px)
{
 
    .scroll, .scroll2{
        width: 900px;
    }
    .datos{
        font-size: 14pt;
    }
    
    .puntuacion{
        width: 120px;
    }
    
    .usuario, .mazo{
        width: 240px;
    }
    
    .explorar, .estrellas{
        width: 190px;;
    }
}






