<main class="mainExplora">


    <section class="mazos">
        <div class="buscador votados">
            <div class="titulo">
                <h2 class="tituloh2"> Top 3 - Mazos más votados</h2>
            </div>

            <!-- <cdk-virtual-scroll-viewport itemSize="0" class="scroll2"> -->
                <div class="bucleContainer"> 
                    <div class="leyenda">
                        <div class="datos usuario">Nombre de Usuario</div>
                        <div class="datos mazo">Nombre del Mazo</div>
                        <div class="datos explorar"> Cartas</div>
                        <div  class="datos estrellas">Puntuación</div>
                    </div>
                    <div *ngFor="let mazo of mejoresMazos" class="bucle">
                        <app-decks [mazo] = "mazo" (eventoExplorar) = 'seleccionMazo($event)'
                        [typeRating] = "2"></app-decks>
                    </div>
                </div>
            <!-- </cdk-virtual-scroll-viewport> -->
        </div>
        <div class="buscador votar">

            <div class="titulo">
                <h2 class="tituloh2" >Vota y descubre los mejores mazos</h2>
            </div>

            <div class="buscar">
                <form class="form">
                    <input class="input input2" type="text" id="name" placeholder="Nombre de Usuario/Mazo" #input>
                    <!-- Falta modificar estilo -->
                  
                    <select class="input select" name="filter" id="filter" required #filter>
                        <option value="nameUser">Nombre Usuario</option>
                        <option value="nameDeck">Nombre Mazo</option>
                    </select>
                    <button type="button" class=" input searchButton" (click)="search(input.value, filter.value)">
                        <img id="lupa" src="../../../assets/images/explora/monocle.png" alt="">
                    </button>
                    
                </form>
            </div>

            <cdk-virtual-scroll-viewport itemSize="50" class="scroll">
                <div class="bucleContainer"> 
                    <div *cdkVirtualFor="let mazo of mazos" class="bucle">
                        <app-decks [mazo] = "mazo" (eventoExplorar) = 'seleccionMazo($event)'
                        (eventoPuntuacion) = "score($event)" [typeRating] = "1"></app-decks>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>

        </div>


    </section>
    
    <section class="explora" *ngIf="explorar == true" id="exploraSection" >  
       
            <div class=" titulo">
                <h2 class="tituloh2">{{mazo.nameDeck}}</h2>
            </div>
            <div class="filtros">
                <div class="nombreFiltro"(click)="filtro('all')" ><p class="textoFiltro" [ngClass]="{'filtro': filter == 'all'}">Todas las cartas</p></div>
                <div class="nombreFiltro" (click)="filtro('creature')"><p class="textoFiltro"  [ngClass]="{'filtro': filter == 'creature'}">Criaturas</p></div>
                <div class="nombreFiltro"(click)="filtro('artifact')"><p class="textoFiltro"  [ngClass]="{'filtro': filter == 'artifact'}">Artefactos</p></div>
                <div class="nombreFiltro" (click)="filtro('enchantment')"><p class="textoFiltro" [ngClass]="{'filtro': filter == 'enchantment'}">Encantamientos</p></div>
                <div class="nombreFiltro" (click)="filtro('sorcery')"><p class="textoFiltro" [ngClass]="{'filtro': filter == 'sorcery'}">Conjuros</p></div>
                <div class="nombreFiltro" (click)="filtro('instant')"><p class="textoFiltro" [ngClass]="{'filtro': filter == 'instant'}">Instantáneas</p></div>
                <div class="nombreFiltro" (click)="filtro('planeswalker')"><p class="textoFiltro" [ngClass]="{'filtro': filter == 'planeswalker'}">Planswalkers</p></div>
                <div class="nombreFiltro"><p class="textoFiltro">Batallas</p></div>
                <div class="nombreFiltro" (click)="filtro('land')"><p class="textoFiltro" [ngClass]="{'filtro': filter == 'land'}">Tierras</p></div>
            </div>
            <div class="cartas" >
                    <div class="close">
                        <img (click)="close()" id="imgClose" src="../../../assets/images/explora/CloseRed.png" alt="">
                    </div>
                    <div class="contador">
                        <img src="../../../assets/images/explora/contador.png" alt="">
                        <p id="numCartas">{{mazo.cards.length || 0}}/60</p>
                    </div>
                    <cdk-virtual-scroll-viewport itemSize="40" class="bucleContainer">
                        <div class="cartasContainer">
                            <div *cdkVirtualFor="let carta of mazo.cards">
                                <app-card [templateCard] = "'type2'" [childCard] = "carta" 
                                (eventoidCard) ="idCard($event)"
                                (click) = "openCardInfo(carta.id)"></app-card>
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                    <div class="cardInfo" *ngIf="showCardInfo == true" [ngClass]="animation ? 'visible': ''">
                        <app-card-info [carta] = "card" (onCardInfoClose) = "closeCardInfo($event)"></app-card-info>
                    </div>


                </div>
    </section>
    
</main>
