<div id="divSuperiorBuscador">
    <div class="container">
        <button type="button" class="btn-close" (click)="loginClose()"></button>
        <form class="form" [formGroup]="loginForm">
            <h3>Inicia Sesión</h3>
            <div class="form-group"> 
                <input type="email" placeholder="Correo Electrónico" formControlName="emailUser" [ngClass]="{'is-invalid':(loginForm.get('emailUser').dirty || loginForm.get('emailUser').touched) && !loginForm.get('emailUser').valid}">
                <div *ngIf="!loginForm.get('emailUser').valid" class="invalid-feedback">
                    <div *ngIf="loginForm.get('emailUser').errors.required">El email es necesario.</div>
                    <div *ngIf="loginForm.get('emailUser').errors.email">Dirección email incorrecta.</div>
                </div>
            </div>
            <div class="form-group"> 
                <input type="password" placeholder="Contraseña" formControlName="passwordUser" [ngClass]="{'is-invalid':(loginForm.get('passwordUser').dirty || loginForm.get('passwordUser').touched) && !loginForm.get('passwordUser').valid}">
                <div *ngIf="!loginForm.get('passwordUser').valid" class="invalid-feedback">
                    <div *ngIf="loginForm.get('passwordUser').errors.required"> La contraseña es necesaria.</div>
                    <div *ngIf="loginForm.get('passwordUser').errors.minLength"> La contraseña tiene que tener almenos 8 carácteres.</div>
                </div>
            </div>
            <button class="button" type="submit" (click)="login()" [disabled]="loginForm.invalid">Inicia Sesión</button>
        </form>
    </div>

</div>