.container{
    position: relative;
    width: 620px;
    height: 750px;
    background-image: url(src/assets/images/fondos/login.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--borde-cuadrado);
    background-color: rgba(2, 3, 11, 0.9);
    height: 350px;
    width: 500px;
    margin-top: 70px;
}

h3{
    text-align:center;
    font-family: var(--antiqua);
    color: var(--amarillo);
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 40px;
}

input{
    border: 2px solid var(--azul);
    background-color: var(--negro);
    color: #6A89A8;
    padding:10px;
    margin-top:8px;
    border-radius: var(--borde-input);
    width: 383px ;
    height: 52px;
    font-family: var(--inter);
    font-size: 18px;
    text-align: center;
}

.button{
    border-radius: var(--borde-boton);
    width: 187px;
    height: 61px;
    font-family: var(--antiqua);
    background-color: #3576B5;
    color: #010208;
    filter: brightness(80%);
    margin-top: 30px;
    font-size: 20px;
}

button.btn-close{
    position: relative;
    align-self: flex-end;
    background-color: rgb(102, 102, 133);
    width: 42px;
    height: 42px;
    right: -11px;
}

.form-group{
    position: relative;

}

.eyeicon{
    position: absolute;
    right: 15px;
    top: 22px;
    cursor: pointer;
}