<body>
    <main>
        <div class="bloque1-container">
            <div class="swiper-container">

            </div>

            <div class="secciones-container">
                <img src="/assets/images/img_cincoColores_landing.png" alt="">
            </div>
        </div>
        <div class="orco-container">
            <div class="registrate">
                <p>Regístrate y únete a una comunidad vibrante de jugadores</p>
                <div class="icono">
                    <div class="icono-container">
                        <img src="/assets/images/iconos/iconoLibroLandingPage.png" id=icono alt="">
                        <a href="">Regístrate</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="buscador-container">
            <div class="textoBuscador-container">
                <h3>El buscador de cartas Magic: The Gathering que necesitas</h3>
                <h5><p>¿Buscas una carta específica para completar tu mazo o simplemente para  admirar su arte?</p> <br>
                    <p>¡Nuestro potente buscador de cartas está aquí para  ayudarte! Con una interfaz intuitiva y fácil de usar, encontrarás  rápidamente la carta que necesitas, ya sea por su nombre, tipo, rareza o  habilidades especiales.</p> <br>
                    <p>¡No pierdas más tiempo buscando entre montones de cartas! Con nuestro  buscador, tendrás acceso instantáneo a todas las cartas que necesitas.</p>
                </h5>
                <h4>¡<a href="">Explora</a> y lleva tu juego al siguiente nivel!</h4>
            </div>
            <div class="inputBuscador-container">
                <form action="">
                    <input type="text" id="buscador" name="buscador" placeholder="Buscar" size="10" />
                    <select name="filtrar" id="filtrar">
                        <option value="nombre">Nombre</option>
                        <option value="colleccion">Colección</option>
                    </select>
                    <button type="submit" class="btn-buscador"></button>
                </form>
            <div class="cartas-container">
                <div class="carta1"></div>
                <div class="carta2"></div>
                <div class="carta3"></div>
            </div>

            </div>
        </div>

        <div class="arquitecto-container">
            <div class="bloqueArquitecto-container">
                <h3>¡Conviértete en el arquitecto de tu propia estrategia con la función de contrucción de mazos!</h3>
                <div class="creacionMazos">
                    <img-container></img-container>
                    <div class="martillo-container">
                        <div class="martillo"></div>
                        <div class="texto-martillo">
                            <h5>
                                <p>¿Te gusta sorprender a tus oponentes con una estrategia ingeniosa? <br>
                                ¿O prefieres arrasar el campo de batalla con una fuerza imparable?</p>
                                <p>Con nuestra herramienta podrás experimentar con diferentes <br>
                                     combinaciones de cartas y sinergias para crear un mazo que sea <br>
                                     <span style="color: #643D6A;">único y poderoso</span></p>
                                <p>Ya sea que estés buscando una estrategia agresiva y directa o <br>
                                    prefieras un enfoque más controlado y táctico, nuestra función de <br>
                                    <a href="">Creación de mazos</a> te permite personalizar cada detalle para reflejar <br>
                                    tu estilo de juego y tus objetivos estratégicos.
                                </p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="comparte-container"> 
            <div class="comparte">Comparte, explora, vota y descubre un mundo de posibilidades</div>
        </div>

        <div class="unete">
            <div class="comparte1">
                <div class="comparteYdescubre">
                    <h3>Comparte y Descubre Mazos Únicos</h3>
                    <h5><p>Con nuestra función de <span style="color: #C38A31;">Compartir Mazos</span>, podrás compartir tus estrategias  más brillantes con la comunidad.</p> <br>
                        <p>¿Acabas de diseñar un mazo imbatible o tienes una combinación  de cartas ingeniosa que quieres compartir? ¡Aquí es donde puedes  hacerlo!</p> <br>
                    </h5>
                </div>
                <div class="vota">
                    <h3>Vota por los Mejores Mazos:</h3>
                    <h3>Únete a la Comunidad y Decide</h3>
                    <h5><p>Nuestra función de <span style="color: #C38A31;">Votación de Mazos</span> te permite expresar tu aprecio por tus mazos favoritos
                        y descubrir cuáles son los más populares entre la comunidad.
                        ¿Cuál será el mazo más votado esta semana?
                    </p></h5>
                </div>
            </div>

            <div class="explora">
                <h3>Explora Mazos de Nuestra comunidad</h3>
                <h5><p><span style="color: #C38A31;">Explora</span> una variedad de mazos creados por jugadores de todo el mundo,
                    desde los más populares hasta los más creativos.</p>
                <p>Utiliza nuestro buscador para encontrar mazos específicos por nombre,
                    tipo o estilo de juego, y descubre nuevas estrategias para mejorar
                    tu experiencia de juego</p>
                </h5>
                <div class="uneteAnosotros">
                    <h2><a href=""><span style="color: #FF240F; font-size: x-large;">¡Únete a nosotros <br>
                        y descúbrelo!</span></a></h2>
                </div>
            </div>
        </div>
    
        <div class="castillo"></div>
        <div class="sumergete-container">
            <div class="sumergete">
                <h2>Sumérgete en la Acción:<br>
                Crea y Participa en Eventos Épicos</h2>
                <div class="texto-sumergete">
                    <div class="texto-izq">
                    <h5>
                        <p>¿Quieres participar en torneos o sesiones de juego casuales?</p>
                        <p>Nuestra función de <span style="color: #5C724B;">Creación de Eventos</span> te permite organizar <br>
                            tus propios encuentros y torneos, y también te brinda la <br>
                            oportunidad de explorar eventos próximos.
                        </p>
                    </h5>
                    </div>
                    <div class="texto-dcha">
                        <h5>
                            <p>Además, con nuestro <span style="color: #5C724B;">calendario</span> integrado, podrás <br>
                            mantener un seguimiento de los eventos a los que <br>
                        planeas asistir y compartir tu entusiasmo con otros jugadores</p>
                        </h5>
                    </div>
                </div>
                <div class="teEsperamos">
                    <h3>¡Te esperamos para vivir momentos inolvidables junto a la comunidad de Magic!</h3>
                </div>
            </div>
            
            </div>
            

    </main>
</body>

