<section>
    <div class="principal">
        <div class="bloque1-container">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="0"
            centered-slides="true" autoplay-delay="12000" autoplay-disable-on-interaction="false" style="--swiper-navigation-color: #B3B3B3; --swiper-pagination-color: #B3B3B3;">

            <swiper-slide id="bienvenido">
                <h1 class="titulo">BIENVENIDO A MAGyDeck</h1>
                <div class="parrafo-telarana">
                    <div class="telarana-container">
                        <div class="telarana"></div>
                    </div>
                    <h4>Vas a conocer la herramienta esencial para todos los aficionados a Magic. Ya seas un jugador <br>
                    experimentado o estés comenzando tu viaje en el multiverso, <span style="color: #C38A31; font-family: Uncial Antiqua;">MagyDeck</span> está aquí para potenciar <br>
                tu experiencia de juego como nunca antes.</h4>
                </div>

                <div class="parrafo-antifaz">
                    <div class="antifaz-container">
                        <div class="antifaz"></div>
                    </div>
                    <h4>Descubre todas las características que hacen de <span style="color: #C38A31; font-family: Uncial Antiqua;">MagyDeck</span> la elección número uno para los <br>
                    jugadores de Magic The Gathering <br></h4>
                </div>

                <div class="parrafo-cartas1">
                    <div class="cartas1-container">
                        <div class="cartas1"></div>
                    </div>
                    <h4>Selección de cartas personalizada. Encuentra la carta que buscas y filtra según tus preferencias</h4>
                </div>

                <div class="parrafo-mazo">
                    <div class="mazo-container">
                        <div class="mazo"></div>
                    </div>
                    <h4>Crea y personaliza tus propios mazos con facilidad, así podrás optimizar tu estrategia de juego</h4>
                </div>

                <div class="parrafo-dragon">
                    <div class="dragon-container">
                        <div class="dragon"></div>
                    </div>
                    <h4>Organiza o encuentra eventos locales, torneos y encuentros de jugadores cerca de ti</h4>
                </div>
            </swiper-slide>
            
            <swiper-slide id="slideSenora">
                <div class="cabeceraSlide">
                    <div class="logoMagic"></div>
                    <h4 class="titulo2">¡Empieza tu nueva aventura en <br>
                    MagyDeck!</h4>
                </div>

                <div class="senoraYtexto">
                    <div class="textoSenora">
                        <h3><p>No importa si eres un aventurero experimentado o apenas estás <br>
                            comenzando tu viaje, aquí encontrarás <span style="color: #28669F;">un mundo de posibilidades</span>.</p>
                        <p>Tendrás la oportunidad de <span style="color: #5C724B;">conocer</span> a otros valientes exploradores, <br>
                            <span style="color: #5C724B;">compartir</span> tus conocimientos, <span style="color: #643D6A;">aprender</span> de las experiencias de los <br>
                            demás y <span style="color: #B6281A;">desafiar</span> a tus compañeros en emocionantes batallas.</p>
                        <p>Prepárate para sumergirte en un universo de descubrimientos, <br>
                            donde cada encuentro te llevará más lejos en tu búsqueda de <br>
                            grandes logros y nuevos horizontes.</p>
                        </h3>
                    </div>
                    <div class="senora-container">
                        <div class="senora"></div>
                    </div>
                </div>

            </swiper-slide>

            <swiper-slide id="slideOrco">

            </swiper-slide>
            </swiper-container>
            <div class="secciones-container">
                <div class="guerrero-container">
                    <a routerLink="/about" class="no-subrayado">
                        <div class="guerreroAmarillo">ABOUT</div>
                    </a>
                </div>
                <div class="guerrero-container">
                    <a routerLink="/cartas" class="no-subrayado">
                        <div class="guerreroAzul">CARTAS</div>
                    </a>
                </div>
                <div class="guerrero-container">
                        <div class="guerreroMorado" (click)="openWarningModal()">MIS MAZOS</div>
                </div>
                <div class="guerrero-container">
                        <div class="guerreroRojo" (click)="openWarningModal()">EXPLORA</div>
                </div>
                <div class="guerrero-container">
                        <div class="guerreroVerde" (click)="openWarningModal()">EVENTOS</div>
                </div>
            </div>
        </div>

        <div class="orco-container">
            <div class="registrate">
                <p>Regístrate y únete a una comunidad vibrante de jugadores</p>
                <div class="icono">
                    <div class="icono-container">
                        <img src="/assets/images/iconos/iconoLibroLandingPage.png" id=icono alt="">
                        <a routerLink="/register">Regístrate</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="buscador-container">
            <div class="textoBuscador-container">
                <h3>El buscador de cartas Magic: The Gathering que necesitas</h3>
                <h5>
                    ¿Buscas una carta específica para completar tu mazo o 
                    simplemente para  admirar su arte?<br>
                    ¡Nuestro potente buscador de cartas está aquí para  ayudarte! <br><p></p><br>
                    Con una interfaz intuitiva y fácil de usar, encontrarás rápidamente la carta que necesitas, ya sea por su nombre,
                    tipo, rareza o  habilidades especiales.<br><p></p><br>
                    ¡No pierdas más tiempo buscando entre montones de cartas! <br><p></p><br>
                    Con nuestro  buscador, tendrás acceso instantáneo a todas las cartas que necesitas.
                </h5>
                <h4>¡<span style="color: #28669F;">Explora</span> y lleva tu juego al siguiente nivel!</h4>
            </div>
            <div class="inputBuscador-container">
                <form>
                    <input type="text" id="buscador" name="buscador" placeholder="Asesinato en la mansión Karlov" size="10" disabled/>
                    <select name="filtrar" id="filtrar" disabled>
                        <option value="nombre">Nombre</option>
                        <option value="colleccion">Colección</option>
                    </select>
                    <button type="submit" class="btn-buscador" disabled></button>
                </form>
            <div class="cartas-container">
                <div class="carta1"></div>
                <div class="carta2"></div>
                <div class="carta3"></div>
            </div>

            </div>
        </div>

        <div class="arquitecto-container">
            <div class="bloqueArquitecto-container">
                <h3>¡Conviértete en el arquitecto de tu propia estrategia con la función de contrucción de mazos!</h3>
                <div class="creacionMazos">
                    <img-container></img-container>
                    <div class="martillo-container">
                        <div class="martillo"></div>
                        <div class="texto-martillo">
                            <h5>
                                <p>¿Te gusta sorprender a tus oponentes con una estrategia ingeniosa? <br>
                                ¿O prefieres arrasar el campo de batalla con una fuerza imparable?</p><br>
                                <p>Con nuestra herramienta podrás experimentar con diferentes <br>
                                    combinaciones de cartas y sinergias para crear un mazo que sea <br>
                                    <span style="color: #643D6A;">único y poderoso</span></p><br>
                                <p>Ya sea que estés buscando una estrategia agresiva y directa o <br>
                                    prefieras un enfoque más controlado y táctico, nuestra función de <br>
                                    <span style="color: #643D6A;">Creación de mazos</span> te permite personalizar cada detalle para reflejar <br>
                                    tu estilo de juego y tus objetivos estratégicos.
                                </p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="comparte-container"> 
            <div class="comparte">Comparte, explora, vota y descubre un mundo de posibilidades</div>
        </div>

        <div class="unete">
            <div class="comparte1">
                <div class="comparteYdescubre">
                    <h3>Comparte y Descubre Mazos Únicos</h3>
                    <h5><p>Con nuestra función de <span style="color: #C38A31;">Compartir Mazos</span>, podrás compartir tus estrategias  más brillantes con la comunidad.</p> <br>
                        <p>¿Acabas de diseñar un mazo imbatible o tienes una combinación  de cartas ingeniosa que quieres compartir? ¡Aquí es donde puedes  hacerlo!</p> <br>
                    </h5>
                </div>
                <div class="vota">
                    <h3>Vota por los Mejores Mazos: <br>
                    Únete a la Comunidad y Decide</h3>
                    <h5><p>Nuestra función de <span style="color: #C38A31;">Votación de Mazos</span> te permite expresar tu aprecio por tus mazos favoritos
                        y descubrir cuáles son los más populares entre la comunidad.
                        ¿Cuál será el mazo más votado esta semana?
                    </p></h5>
                </div>
            </div>

            <div class="explora">
                <h3>Explora Mazos de Nuestra comunidad</h3>
                <h5><p><span style="color: #C38A31;">Explora</span> una variedad de mazos creados por jugadores de todo el mundo,
                    desde los más populares hasta los más creativos.</p>
                <p>Utiliza nuestro buscador para encontrar mazos específicos por nombre,
                    tipo o estilo de juego, y descubre nuevas estrategias para mejorar
                    tu experiencia de juego</p>
                </h5>
                <div class="uneteAnosotros">
                    <h2><a routerLink="/register"><span style="color: #FF240F; font-size: x-large;">¡Únete a nosotros <br>
                        y descúbrelo!</span></a></h2>
                </div>
            </div>
        </div>
    
        <div class="castillo"></div>
        <div class="sumergete-container">
            <div class="sumergete">
                <h2>Sumérgete en la Acción:<br>
                Crea y Participa en Eventos Épicos</h2>
                <div class="texto-sumergete">
                    <div class="texto-izq">
                    <h5>
                        <p>¿Quieres participar en torneos o sesiones de juego casuales?</p>
                        <p>Nuestra función de <span style="color: #5C724B;">Creación de Eventos</span> te permite organizar <br>
                            tus propios encuentros y torneos, y también te brinda la <br>
                            oportunidad de explorar eventos próximos.
                        </p>
                    </h5>
                    </div>
                    <div class="texto-dcha">
                        <h5>
                            <p>Además, con nuestro <span style="color: #5C724B;">calendario</span> integrado, podrás <br>
                            mantener un seguimiento de los eventos a los que <br>
                        planeas asistir y compartir tu entusiasmo con otros jugadores</p>
                        </h5>
                    </div>
                </div>
                <div class="teEsperamos">
                    <h3>¡Te esperamos para vivir momentos inolvidables junto a la comunidad de Magic!</h3>
                </div>
            </div>
            </div>
        </div>
    </section>

