

.mainHome{
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/images/home/bg-negro.png);
}

swiper-container {
  width: 1500px;
  height: 850px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myswipper.swiper-button-next , .swiper-button-prev{
  color: var(--blanco);
}

#misEventos{
  background-image: url(../../../assets/images/home/bg-foto-bosque.png);
}

#eventos{
  background-image: url(../../../assets/images/home/bg-foto-bosque2.png);
}

#mazos{
  background-image: url(../../../assets/images/home/bg-foto-montaña.png);
}

#misEventos, #eventos, #mazos{
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.titulo, .titulo-eventos, .titulo-mazos{
  height: 70px;
  padding: 10px;
  font-size: 20pt;

  display: flex;
  align-items: center;
  justify-content: center;


  font-family: var(--antiqua);
  background-color: var(--negro-bg);
  border-radius: var(--borde-cuadrado);
}
.titulo{
  color: var(--amarillo);
  width: 550px;
}
.titulo-eventos{
  color: var(--blanco);
  width: 720px;
}

.titulo-mazos{
  color: var(--rojo);
  width: 480px;
}

.card-container{
  display: flex;
  gap: 30px;
}
.cardEvento, .cardEvento2, .cardMazo {
  width: 400px;
  height: 600px;
  background-color: var(--negro-bg);
  border-radius: var(--borde-cuadrado);
  font-family: var(--antiqua);
}

.cardEvento, .cardEvento2{
  padding: 20px;
}

.cardMazo{
  gap: 20px;
  padding: 15px;
}

.cardEvento:hover{
  border: solid var(--amarillo) 2px;
}
.cardEvento2:hover{
  border: solid var(--verde) 2px;
}
.cardMazo:hover{
  border: solid var(--rojo) 2px;
}

 .img-fondo{
  z-index: 9;
  border-radius: var(--borde-cuadrado);
}

.img-avatar{
  position: relative;
  bottom: 249px;

  z-index: 99;
} 

.tituloEvento, .tituloEvento2{
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}
.tituloEvento{
  color: var(--verde);
}
.tituloEvento2{
  color: var(--amarillo);
}

.content-votados{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.card-info{
  position: relative;
  bottom: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.info{ 
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid var(--verde) 0.5px;
  border-radius: var(--borde-cuadrado);
  color: var(--blanco);
}

.info-mazo{
  color: var(--rojo);
  font-size: 17pt;
}

.info-user{
  color: var(--blanco);
  font-size: 17pt;
}


.moreInfo{
  color: var(--amarillo);
  margin-top: 37px;
}
a{
  text-decoration: none;
  color: inherit;
}

.moreInfo:hover{
  color: var(--blanco);
  cursor: pointer;
  text-decoration: underline;
}

.button-participar, .button-abandonar{
  height: 45px;
  padding: 5px;
  width: 180px;
  margin-top: 20px;
  border-radius: var(--borde-boton);
  border: none;
}

.button-abandonar{
  background-color: var(--amarillo);
}

.button-participar{
  background-color: var(--verde);
}

.button-participar:hover, .button-abandonar:hover{
  background-color: var(--blanco);
}

.button-explorar{
  height: 45px;
  padding: 5px;
  margin-top: 12px;

  width: 150px;
  background-color: var(--amarillo);
  border-radius: var(--borde-boton);
  border: none;
}

.button-explorar:hover{
  background-color: var(--rojo);
}

.line-container{
  display: flex;
  justify-content: center;
  width: 90%;
}
.line{
  border: solid var(--blanco) 2px;
  width: 100%
}
.modalEvent{
  position: absolute;
  top: 0;
  right: 300px;
  z-index: 9999;
}

.noEvents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--negro-bg);
  border-radius: var(--borde-cuadrado);
  border: solid var(--amarillo) 2px;
  color: var(--blanco);
  font-family: var(--inter);
  width: 400px;
  gap: 15px;
}

.myevents{
  height: 250px;
}
.eventComs{
  height: 100px;
}
.toEvents{
  border: none;
  background-color: var(--amarillo);
  border-radius: var(--borde-boton);
  color: black;
  font-family: var(--antiqua);
  height: 50px;
  width: 200px;
  font-size: 13pt;
}

.toEvents:hover{
  background-color: var(--verde);
}
/* MEDIAQUERY */
@media screen and (max-width: 1510px)
{
  swiper-container {
    width: 1200px;
    height: 850px;
  }

  .cardEvento, .cardEvento2, .cardMazo {
    width: 320px;
    height: 515px;
  }

  .img-fondo, .img-avatar{
    width: 250px;
  }

  .img-avatar{
    position: relative;
    bottom: 171px;
  } 

  .img-mazo{
    width: 170px;
  }

  .card-info{
    position: relative;
    bottom: 160px;
  }

  .tituloEvento, .tituloEvento2{
    font-size: 14pt;

  }

  .info-mazo, .info-user{

    font-size: 15pt;
  }
  

  .button-explorar{
    margin-top: 7px;
  }

  @media screen and (max-width: 1210px){
 
    swiper-container {
      width: 900px;
    }
  
    .cardEvento, .cardEvento2, .cardMazo {
      width: 225px;
      height: 410px;
    }

    .cardMazo{
      padding: 20px;
    }
    .img-fondo, .img-avatar{
      width: 180px;
    }
  
    .img-mazo{
      width: 130px;
    }
  
    .img-avatar{
      position: relative;
      bottom: 124px;
    } 

    .img-estrellas{
      width: 25px;
    }
    .card-evento{
      gap: 10px
    }
    .card-info{
      bottom: 120px;
    }
 

    .info{
      font-size: 10pt;
      position: relative;
      bottom: 10px;
    }
  
    .tituloEvento, .tituloEvento2{
      font-size: 10pt;
    }
    .info-mazo, .info-user{
      font-size: 11pt;
    }
 
    .button-participar, .button-abandonar{
      width: 150px;
      height: 40px;
      margin-top: 10px;
      font-size: 10pt;
    }

    .button-explorar{
      width: 150px;
      height: 40px;
      font-size: 10pt;
      margin-top: -2px;
    }
    .titulo, .titulo-eventos, .titulo-mazos{
      font-size: 18pt;
    }
    .cardMazo{
      gap: 10px;
    }

    
  }
}
