<section class="mainHome">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="0"
    centered-slides="true" autoplay-delay="15000" autoplay-disable-on-interaction="false" style="--swiper-navigation-color: #B3B3B3; --swiper-pagination-color: #B3B3B3;">

        <swiper-slide id="misEventos">
                <div>
                    <h3 class="titulo"><img src="../../../assets/images/iconos/eventos.png" alt=""> &nbsp;Mis próximos eventos &nbsp;<img src="../../../assets/images/iconos/eventos2.png" alt=""></h3>
                </div>
     
                <div class="card-container" *ngIf="eventosProx && eventosProx.length > 0; else emptyEvent">
                    <div *ngFor="let evento of eventosProx">
                        <div class="cardEvento">
                            <div class="img-container">
                                <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                                <img class="img-avatar" src="../../../assets/images/personajes/avatar2.png" alt="">
                            </div>
                            <div class="card-info">
                                <div class="tituloEvento"> 
                                    <p>{{evento.nameEvent}}</p>
                                </div>
                                <div class="info">
                                    <p>{{evento.date}}</p>
                                    <p>{{evento.hour}}</p>
                                    <p>{{evento.place}}</p>
                                </div>
                            
                                <button (click)="openModal(evento)" class="button-abandonar">Abandonar</button>
                            </div>>
                        </div>
                    </div>
                    <div  *ngIf="modalDetail == true" class="modalEvent">
                        <app-detail-event [evento] = "selectEvento"  (eventCloseDetail) = closeModal($event) [type] = 1 [user] = "currentUser"></app-detail-event>
                    </div>
                </div>

                <ng-template #emptyEvent>
                    <div class="noEvents myevents">No estás apuntado a ningún evento. Pásate por:  <button (click)="goToEvents()" class="toEvents">Próximos eventos</button> Y anímate a participar y compartir momentos inolvidables con nuestra comunidad</div>
                </ng-template>
        </swiper-slide>

        <swiper-slide id="eventos">
                <div>
                    <!-- AÑADIR PIPE PARA SIMBOLOS -->
                    <h3  class="titulo-eventos"> <img src="../../../assets/images/iconos/eventoAmarillo.png" alt=""> &nbsp; Últimos eventos de la comunidad &nbsp;<img src="../../../assets/images/iconos/eventoAmarillo2.png" alt=""></h3>
                </div>
     
                <div class="card-container" *ngIf="eventoCom && eventoCom.length > 0;else emptyEvent2">
                    <div *ngFor="let evento of eventoCom">
                        <div class="cardEvento2">
                            <div class="img-container">
                                <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                                <!-- seria la foto de quien ha creado el evento -->
                                <img class="img-avatar" src="../../../assets/images/personajes/avatar2.png" alt="">
                            </div>
                            <div class="card-info">
                                <div class="tituloEvento2">
                                    <p>{{evento.nameEvent}} </p>
                                </div>
                                
                                <div class="info">
                                    <p>{{evento.date}}</p>
                                    <p>{{evento.hour}}</p>
                                    <p>{{evento.place}}</p>
                                </div>

                                <button (click)="openModal2(evento)" class="button-participar">Detalle evento</button>
                            </div>
                        </div>
 
                    </div>
                    <div  *ngIf="modalDetail2 == true" class="modalEvent">
                        <app-detail-event [evento] = "selectEvento"  (eventCloseDetail) = closeModal($event) [type] = 2 [user] = "currentUser"></app-detail-event>
                    </div>

                </div>

                <ng-template #emptyEvent2>
                    <div class="noEvents eventComs">No hay eventos en los que no participas</div>
                </ng-template>
                
        </swiper-slide>

        <swiper-slide id="mazos">
                <div >
                    <h3 class="titulo-mazos"> <img src="../../../assets/images/iconos/estrella.png" alt="">  &nbsp; Mazos más votados  &nbsp; <img src="../../../assets/images/iconos/estrella.png" alt=""></h3>
                </div>
     
                <div class="card-container" *ngIf="bestMazos && bestMazos.length >= 3">
                    <div *ngFor="let bestMazo of bestMazos">
                        <div class="cardMazo">
                            <div>
                                <img class="img-mazo" [src]= 'bestMazo.URLphoto' alt="">
                            </div>
                            <div>
                                <div class="estrellas">
                                    <app-rating [mediaScore] = "bestMazo.mediaScore" [typeRating]="2"></app-rating>
                                </div>
                                <div class="line-container">
                                    <hr class="line">
                                </div>
                        
                                <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                                <div class="info2">
                                    <p class="info-mazo">{{bestMazo.nameDeck}}</p>
                                    <p class="info-user">{{bestMazo.nameUser}}</p>
                                </div>
                            
                                <button [routerLink]="['/explora']" class="button-explorar">Explorar</button>
                            </div>
                        </div>
                    </div>
                </div>

        </swiper-slide>

    </swiper-container>
</section>


