

.mainHome{
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/images/home/bg-negro.png);
}

swiper-container {
  width: 1500px;
  height: 850px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myswipper.swiper-button-next , .swiper-button-prev{
  color: var(--blanco);
}

/* #bgEventos , #bgEventos2, #bgMazos{
  width: 1600px;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-size: cover;
} */

/* #bgEventos{
  background-image: url(../../../assets/images/home/bg-foto-bosque.png);
}

#bgEventos2{
  background-image: url(../../../assets/images/home/bg-foto-bosque2.png);
}

#bgMazos{
  background-image: url(../../../assets/images/home/bg-foto-montaña.png);
} */

#misEventos{
  background-image: url(../../../assets/images/home/bg-foto-bosque.png);
}

#eventos{
  background-image: url(../../../assets/images/home/bg-foto-bosque2.png);
}

#mazos{
  background-image: url(../../../assets/images/home/bg-foto-montaña.png);
}

#misEventos, #eventos, #mazos{
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.titulo, .titulo-eventos, .titulo-mazos{
  height: 70px;
  padding: 10px;
  font-size: 20pt;

  display: flex;
  align-items: center;
  justify-content: center;


  font-family: var(--antiqua);
  background-color: var(--negro-bg);
  border-radius: var(--borde-cuadrado);
}
.titulo{
  color: var(--amarillo);
  width: 550px;
}
.titulo-eventos{
  color: var(--blanco);
  width: 720px;
}

.titulo-mazos{
  color: var(--rojo);
  width: 480px;
}

.card-container{
  display: flex;
  gap: 50px;
}
.cardEvento, .cardEvento2, .cardMazo {
  width: 400px;
  height: 600px;
  background-color: var(--negro-bg);
  border-radius: var(--borde-cuadrado);
  font-family: var(--antiqua);
}

.cardEvento, .cardEvento2{
  padding: 20px;
}

.cardMazo{
  gap: 20px;
  padding: 40px;
}

.cardEvento:hover{
  border: solid var(--amarillo) 2px;
}
.cardEvento2:hover{
  border: solid var(--verde) 2px;
}
.cardMazo:hover{
  border: solid var(--rojo) 2px;
}

 .img-fondo{
  z-index: 9;
  border-radius: var(--borde-cuadrado);
}

.img-avatar{
  position: relative;
  bottom: 249px;

  z-index: 99;
} 

.tituloEvento, .tituloEvento2{
  font-size: 18pt;
  height: 90px;
  display: flex;
  align-items: center;
  line-height: 40px;
}
.tituloEvento{
  color: var(--verde);
}
.tituloEvento2{
  color: var(--amarillo);
}

.estrellas{
  margin-top: 10px;
}
.card-info{
  position: relative;
  bottom: 230px;
}
.info{ 
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  border: solid var(--verde) 0.5px;
  border-radius: var(--borde-cuadrado);
  color: var(--blanco);
}

.info-mazo{
  color: var(--rojo);
}

.info-user{
  color: var(--blanco);
}


.moreInfo{
  color: var(--amarillo);
  margin-top: 37px;
}
a{
  text-decoration: none;
  color: inherit;
}

.moreInfo:hover{
  color: var(--blanco);
  cursor: pointer;
  text-decoration: underline;
}

.button-participar{
  height: 45px;
  padding: 5px;
  width: 180px;
  margin-top: 30px;
  background-color: var(--verde);
  border-radius: var(--borde-boton);
  border: none;
}

.button-participar:hover{
  background-color: var(--blanco);
}

.button-explorar{
  height: 45px;
  padding: 5px;
  width: 150px;
  margin-top: 23px;
  background-color: var(--amarillo);
  border-radius: var(--borde-boton);
  border: none;
}

.button-explorar:hover{
  background-color: var(--rojo);
}

.line-container{
  display: flex;
  justify-content: center;
}
.line{
  border: solid var(--blanco) 2px;
  width: 300px;
}
#modalEvent{
  position: absolute;
  z-index: 9999;
}

/* MEDIAQUERY */
@media screen and (max-width: 1510px)
{
  swiper-container {
    width: 1200px;
    height: 850px;
  }

  .cardEvento, .cardEvento2, .cardMazo {
    width: 320px;
    height: 515px;
  }

  .img-fondo, .img-avatar{
    width: 250px;
  }



  .img-avatar{
    position: relative;
    bottom: 171px;
  } 

  .card-info{
    position: relative;
    bottom: 160px;
  }

  .tituloEvento, .tituloEvento2{
    font-size: 14pt;
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid red 2px;
  }

  @media screen and (max-width: 1210px){
 
    swiper-container {
      width: 900px;
    }
  
    .cardEvento, .cardEvento2, .cardMazo {
      width: 225px;
      height: 410px;
    }

    .cardMazo{
      padding: 20px;
    }
    .img-fondo, .img-avatar{
      width: 180px;
    }
  
    .img-mazo{
      width: 150px;
    }
  
    .img-avatar{
      position: relative;
      bottom: 124px;
    } 

    .img-estrellas{
      width: 25px;
    }
  
    .card-info{
      position: relative;
      bottom: 110px;
    }

    .info{
      font-size: 10pt;
    }
  
    .tituloEvento, .tituloEvento2{
      font-size: 10pt;
    }
    .info2{
      font-size: 12pt;
    }
    .moreInfo{
      font-size: 10pt;
    }
    .button-participar, .button-explorar{
      width: 120px;
      font-size: 10pt;
    }

    .titulo, .titulo-eventos, .titulo-mazos{
      font-size: 18pt;
    }

    
  }
}
