<main>
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="0"
    centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false" style="--swiper-navigation-color: #B3B3B3; --swiper-pagination-color: #B3B3B3;">

        <swiper-slide id="misEventos">
            <!-- <div id="bgEventos"> -->

                <div>
                    <!-- AÑADIR PIPE PARA SIMBOLOS -->
                    <h3 class="titulo"><img src="../../../assets/images/iconos/eventos.png" alt=""> &nbsp;Mis próximos eventos &nbsp;<img src="../../../assets/images/iconos/eventos2.png" alt=""></h3>
                </div>
     
                <div class="card-container">
                    <div class="cardEvento">
                        <div class="img-container">
                            <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                            <img class="img-avatar" src="../../../assets/images/personajes/avatar2.png" alt="">
                        </div>
                        <div class="card-info">
                            <p class="tituloEvento">Festival de Asesinatos en la Mansión Karlov </p>
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info">
                                <p>15/03/2024</p>
                                <p>18:00</p>
                                <p>Centro Metropolitano</p>
                            </div>
                            <!-- AÑADIR ROUTING A MI CALENDARIO -->
                            <p class="moreInfo">Ver en mi Calendario</p>
                        </div>
                    </div>
                    <div class="cardEvento">
                        <div class="img-container">
                            <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                            <img class="img-avatar" src="../../../assets/images/personajes/avatar2.png" alt="">
                        </div>
                        <div class="card-info">
                            <p class="tituloEvento">Festival de Asesinatos en la Mansión Karlov </p>
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info">
                                <p>15/03/2024</p>
                                <p>18:00</p>
                                <p>Centro Metropolitano</p>
                            </div>
                            <!-- AÑADIR ROUTING A MI CALENDARIO -->
                            <p class="moreInfo">Ver en mi Calendario</p>
                        </div>
                    </div>
                    <div class="cardEvento">
                        <div class="img-container">
                            <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                            <img class="img-avatar" src="../../../assets/images/personajes/avatar2.png" alt="">
                        </div>
                        <div class="card-info">
                            <p class="tituloEvento">Festival de Asesinatos en la Mansión Karlov </p>
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info">
                                <p>15/03/2024</p>
                                <p>18:00</p>
                                <p>Centro Metropolitano</p>
                            </div>
                            <!-- AÑADIR ROUTING A MI CALENDARIO -->
                            <p class="moreInfo">Ver en mi Calendario</p>
                        </div>
                    </div>
    
    
                </div>
            <!-- </div> -->
        </swiper-slide>

        <swiper-slide id="eventos">
            <!-- <div id="bgEventos2"> -->
                <div>
                    <!-- AÑADIR PIPE PARA SIMBOLOS -->
                    <h3  class="titulo-eventos"> <img src="../../../assets/images/iconos/eventoAmarillo.png" alt=""> &nbsp; Últimos eventos de la comunidad &nbsp;<img src="../../../assets/images/iconos/eventoAmarillo2.png" alt=""></h3>
                </div>
     
                <div class="card-container">
                    <div class="cardEvento2">
                        <div class="img-container">
                            <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                            <img class="img-avatar" src="../../../assets/images/personajes/avatar2.png" alt="">
                        </div>
                        <div class="card-info">
                            <p class="tituloEvento2">Festival de Asesinatos en la Mansión Karlov </p>
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info">
                                <p>15/03/2024</p>
                                <p>18:00</p>
                                <p>Centro Metropolitano</p>
                            </div>
                            <!-- AÑADIR ROUTING A EVENTOS -->
                            <button class="button-participar">Participar</button>
                        </div>
                    </div>
                    <div class="cardEvento2">
                        <div class="img-container">
                            <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                            <img class="img-avatar" src="../../../assets/images/personajes/avatar3.png" alt="">
                        </div>
                        <div class="card-info">
                            <p class="tituloEvento2">Festival de Asesinatos en la Mansión Karlov </p>
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info">
                                <p>15/03/2024</p>
                                <p>18:00</p>
                                <p>Centro Metropolitano</p>
                            </div>
                            <!-- AÑADIR ROUTING A EVENTOS -->
                            <button class="button-participar">Participar</button>
                        </div>
                    </div>
    
                    <div class="cardEvento2">
                        <div class="img-container">
                            <img class="img-fondo" src="../../../assets/images/personajes/fondo-avatar.png" alt="">
                            <img class="img-avatar" src="../../../assets/images/personajes/avatar3.png" alt="">
                        </div>
                        <div class="card-info">
                            <p class="tituloEvento2">Festival de Asesinatos en la Mansión Karlov </p>
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info">
                                <p>15/03/2024</p>
                                <p>18:00</p>
                                <p>Centro Metropolitano</p>
                            </div>
                            <!-- AÑADIR ROUTING A EVENTOS -->
                            <button class="button-participar">Participar</button>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            
 
        </swiper-slide>

        <swiper-slide id="mazos">
            <!-- <div id="bgMazos"> -->
                <div class="titulo-mazos">
                    <!-- AÑADIR PIPE PARA SIMBOLOS -->
                    <h3 class="titulo-mazos" > <img src="../../../assets/images/iconos/estrella.png" alt="">  &nbsp; Mazos más votados  &nbsp; <img src="../../../assets/images/iconos/estrella.png" alt=""></h3>
                </div>
     
                <div class="card-container">
                    <div class="cardMazo">
                        <div>
                            <img class="img-mazo" src="../../../assets/images/home/mazo1.png" alt="">
                        </div>
                        <div>
                            <div class="estrellas">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrella2.png" alt="">
                            </div>
                            <div class="line-container">
                                <hr class="line">
                            </div>
                    
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info2">
                                <p class="info-mazo">Fuego del Bosque</p>
                                <p class="info-user">JoseH35</p>
                            </div>
                            <!-- AÑADIR ROUTING A EVENTOS -->
                            <button class="button-explorar">Explorar</button>
                        </div>
                    </div>
    
                    <div class="cardMazo">
                        <div>
                            <img class="img-mazo" src="../../../assets/images/home/mazo2.png" alt="">
                        </div>
                        <div>
                            <div class="estrellas">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas"src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrella2.png" alt="">
                            </div>
                            <div class="line-container">
                                <hr class="line">
                            </div>
                    
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info2">
                                <p class="info-mazo">Fuego del Bosque</p>
                                <p class="info-user">JoseH35</p>
                            </div>
                            <!-- AÑADIR ROUTING A EVENTOS -->
                            <button class="button-explorar">Explorar</button>
                        </div>
                    </div>
    
                    <div class="cardMazo">
                        <div>
                            <img class="img-mazo" src="../../../assets/images/home/mazo3.png" alt="">
                        </div>
                        <div>
                            <div class="estrellas">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrellita.png" alt="">
                                <img class="img-estrellas" src="../../../assets/images/iconos/estrella2.png" alt="">
                            </div>
                            <div class="line-container">
                                <hr class="line">
                            </div>
                    
                            <!-- AÑADIR ICONOS DE FECHA HORA Y LUGAR -->
                            <div class="info2">
                                <p class="info-mazo">Fuego del Bosque</p>
                                <p class="info-user">JoseH35</p>
                            </div>
                            <!-- AÑADIR ROUTING A EVENTOS -->
                            <button class="button-explorar">Explorar</button>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </swiper-slide>

    </swiper-container>
</main>


