.mazos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    /* border: solid white 2px; */
    gap:5px
}

.datos{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #330a05;
    border-radius: var(--borde-input);
    color: var(--blanco);
    font-family: var(--inter);
    font-size: 16pt;

}

.puntuacion{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;


}

.usuario, .mazo{
    width: 250px;
}

.explorar{
    width: 200px;;
}

.explorar:hover{
    border: solid var(--amarillo);
    cursor: pointer;
}
@media screen and (max-width: 1025px){
    .datos{
        font-size: 14pt;
    }
    
    .puntuacion{
        width: 190px;
    }
    
    .usuario, .mazo{
        width: 240px;
    }
    
    .explorar{
        width: 190px;;
    }
}

