<div  class="mazos">
  
    <div class="datos usuario">{{ mazo.nameUser }}</div>
    <div class="datos mazo">{{ mazo.nameDeck }}</div>
    <div class="datos explorar" (click)="explora(mazo.id_deck)">Explora</div>
    <div  class="datos estrellas">
    <div class="datos puntuacion">
        <div class="estrellas">
            <app-rating  (onRating)="Handle(mazo.id_deck, $event)" [mediaScore] = "mazo.mediaScore" [typeRating]="mazo.typeRating" [id_deck] = mazo.id_deck [mazo] = 'mazo'></app-rating>
        </div>
        <div >{{ mazo.mediaScore}}</div>

    
    </div>
</div>




