/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* typografia */
    --morado: #643D6A;
    --amarillo: #C38A31;
    --verde: #5C724B;
    --rojo:#B6281A;
    --azul:#28669F;
    --blanco:#B3B3B3;
    --negro:rgba(0, 0, 0, 0.85);
    --fondo-morado: rgba(10, 4, 11, 0.85);
    --morado-2paints: #643D6A;

    --antiqua:"Uncial Antiqua", system-ui;
    --inter: "Inter", sans-serif;

    --opacidad-fondo-textura: 0.35;

    --negro-bg: rgba(0, 0, 0, 0.85);
    
    --bg-morado:url(./assets/images/fondos/Fondo_morado.png);
    --bg-amarillo:url(./assets/images/fondos/Fondo_narajna.png);
    --bg-verde:url(./assets/images/fondos/Fondo_verde.png);
    --bg-rojo:url(./assets/images/fondos/Fondo_rojo.png);
    --bg-azul:url(./assets/images/fondos/Fondo_azul.png);
    
    /* border radius*/
    --borde-input:10px;

     /* todos los cuadrados como modals */
    --borde-cuadrado:20px;
    
    --borde-boton:10px;

    /* border width */
    --ancho-borde: 3px;
}
