<div class="content">
    <img id="closeDetail" src="../../../assets/images/detalleEvento/CloseEvent.png" (click)="closeDetail()">
    <div class="bg-cuadrado">

        <h3 class="tituloEvent">Titulo Evento</h3>
        <div class="infoEvento">
            <div class="infoContent">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/iconos/fecha_evento.png">
                </div>
                <div class="divInfo">
                    <p class="information">Fecha</p>
                </div>
    
            </div>
    
            <div class="infoContent">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/detalleEvento/reloj.png">
                </div>
                <div class="divInfo">
                    <p class="information">Hora</p>
                </div>
            </div>
    
            <div class="infoContent2">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/detalleEvento/place.png">
                </div>
                <div class="divInfo esp">
                    <p class="information">Nombre del lugar</p>
                    <p class="information">Direccion</p>
                </div>
            </div>
    
            <div class="infoContent2">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/iconos/casco_evento.png" alt="">
                </div>
                <div class="esp">
                    <div class="description">
                        <h6 class="information" >Descripción</h6>
                    </div>
                    <div class="divInfo">
                        <p class="infoDescription">Aqui se va a escribir la descripcion del Evento.
                            Tampoco puede ser muy larga, hay que a cuanto limitarla.
                            bla bla bla bla bla bla bla bla bla bla bla bla
                        </p>
                    </div>
                </div>
    
            </div>
        </div>

        <button class="buttonParticipar">Participar</button>
    </div>

</div>
