.content{
    height: 850px;
    width: 900px;
    background-image: url(../../../assets/images/detalleEvento/fondoDetalle2.png);
    background-size: cover;
    border-radius: var(--borde-cuadrado);

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-cuadrado{
    height: 800px;
    width: 800px;
    padding: 40px;
    background-color: var(--negro-bg);
    border-radius: var(--borde-cuadrado);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    gap: 30px;
}

.tituloEvent{
    color: var(--amarillo);
    font-family: var(--antiqua);
    font-size: 24pt;
}

.eventoInfoPart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.infoEvento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
}
.infoContent, .infoContent2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding: 15px;
    border-bottom: solid var(--verde) 1px;
}
.infoContent2{
    align-items: center;
}
.divInfo{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--inter);
    color: var(--blanco);
}
.esp{
    flex-direction: column;
}
.contentIcon{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 15%;
}

.information, .infoDescription{
    height: 100%;
    width: 100%;
    font-family: var(--inter);
    color: var(--blanco);
    text-align: left;
    font-size: 14pt;
}


.description{
    padding-top: 10px;
    align-self: center;
}

.infoDescription{
    text-align: left
}
.buttonParticipar{
    height: 50px;
    width: 200px;
    background-color: var(--verde);
    border-radius: var(--borde-boton);
    font-family: var(--antiqua);
    font-size: 14pt;
    align-self: center;

    border: none;
}

.buttonParticipar:hover{
    background-color: var(--amarillo);
}

#closeDetail{
    width: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}

#closeDetail:hover{
    border: solid var(--rojo) 2px;
    border-radius: var(--borde-boton);
    
}

/* participantes */

.contentParticipantes{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.creador, .participantes{
    font-family: var(--antiqua);
    color: var(--amarillo);
    font-size: 15pt;
}

.nombreCreador, .participante{
    font-family: var(--inter);
    font-size: 14pt;
    color: var(--blanco);
}

.listaPart{
    max-height: 250px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style: none;
    padding: 0;
}

.listaPart li {
    margin-bottom: 10px;
    
}