<div class="content">
    <img id="closeDetail" src="../../../assets/images/detalleEvento/CloseEvent.png" (click)="closeDetail()">
    <div class="bg-cuadrado">

        <h3 class="tituloEvent">{{evento.nameEvent}}</h3>
        <div class="infoEvento">
            <div class="infoContent">
                <!-- <div class="contentIcon"> -->
                    <img class="iconEvent" src="../../../assets/images/iconos/fecha_evento.png">
                <!-- </div> -->
                <div class="divInfo">
                    <p class="information">{{evento.date.toISOString().substring(0, 10)}}</p>
                </div>
    
            </div>
    
            <div class="infoContent">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/detalleEvento/reloj.png">
                </div>
                <div class="divInfo">
                    <p class="information">{{evento.hour}}</p>
                </div>
            </div>
    
            <div class="infoContent2">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/detalleEvento/place.png">
                </div>
                <div class="divInfo esp">
                    <p class="information">{{evento.place}}</p>
                    <p class="information">{{evento.direction}}</p>
                </div>
            </div>
    
            <div class="infoContent2">
                <div class="contentIcon">
                    <img class="iconEvent" src="../../../assets/images/iconos/casco_evento.png" alt="">
                </div>
                <div class="esp">
                    <div class="description">
                        <h6 class="information" >Descripción</h6>
                    </div>
                    <div class="divInfo">
                        <p class="infoDescription">{{evento.descriptionEvent}}
                        </p>
                    </div>
                </div>
    
            </div>
        </div>

        <button class="buttonParticipar" (click)="participar()">Participar</button>
    </div>

</div>
