<main>
    <section class="personajes">
        <div class="titulos">
            <h2 class="titulo">Personajes</h2>
        </div>
        <div  class="imgPersonajes" >
            <div *ngFor="let avatar of avatares"  >
                <div  class="img">
                    <img class="avatar" type="image" [src]="avatar" 
                    (click)="enviaAvatar(avatar)" alt="imagen personaje"
                    [ngClass]="{'seleccion': avatarSeleccionado == avatar}">
                </div>
            </div>
        </div>

    </section>
    <section class="tierrasContainer">
        <div class="titulos">
            <h2 class="titulo">Tierras</h2>

        </div>

        <div class="imgTierras">
            <div *ngFor="let tierra of tierras">
                <div class="tierras">
                    <img type="image" [src]="tierra" (click)="enviarTierra(tierra)" alt="imagen color/tierra"
                    [ngClass]="{'seleccion': tierraSeleccionada == tierra}">
                </div>
            </div>
        </div>

    </section>
</main>
