.background-wrapper {
    background-image: url('/assets/images/fondos/carta-loggedin.png');
    width:100%;
    top: 186px;
    left:11px;
    object-fit: cover;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    'title deckArea'
    'searchInput deckArea'
    'resultsArea deckArea'
}

.title {
    font-size: 64px;
    font-family: var(--antiqua);
    color:var(--azul);
    text-align: center;
    padding-top:21px;

}

.search-container {
    grid-area: searchInput;
}

.results-container {
    grid-area: resultsArea;
}

.builder-container {
    grid-area: deckArea;
    background-color: var(--negro-bg);
}

