<!-- <app-header></app-header> -->

<div class="background-wrapper">
    <p class="title">CARTAS</p>

    <div class="search-container">
        <form action="">
            <input type="text" id="buscador" name="buscador" placeholder="Buscar" size="10" />
            <select name="filtrar" id="filtrar">
                <option value="nombre">Nombre</option>
                <option value="colleccion">Colección</option>
            </select>
            <button type="submit" class="btn-buscador"></button>
        </form>      
    </div>

    <div class="results-container">

        <div class="bg-cards">
        <!-- <div *ngFor="let card of cards; let i = index"> -->
            <!-- <app-card></app-card> -->
            <!-- </div> -->
    
        </div>
    
    </div>

</div>

<div class="builder-container"></div>

<!-- <app-footer></app-footer> -->