<!--MODAL DE ELIMINAR EVENTO-->

<main id="deleteMain">
    <div class="modal-dialog-delete">
        
        <p id="closed" (click)="closeModalDelete()">X</p>
        <div class="divDelete">
            <h3 class="modalP">¿Deseas eliminar el evento?</h3>

            <!-- BOTÓN AL QUE LE PASAMOS EL ID DEL EVENTO QUE ME LLEGA DEL PADRE PARA INDICAR CUAL ELIMINAR -->
            <button class="buttonDelete" (click)="deleteEvent(eventoAEliminar.id)"><p>Aceptar</p></button>
            
            <!-- NOTIFICACIÓN AL USUARIO DE QUE EL EVENTO SE ELIMINA CORRECTAMENTE -->
            <div id="alertEvent"><p *ngIf="mostrarNotificacionEvento">Evento eliminado correctamente</p></div>
        </div>
    </div>
</main>