    <!-- MODAL delete-->
    <!-- <div class="modal fade bd-example-modal-sm " id="deleteEvent" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-general">
            <div class="modal-content divDelete">
                <p class="modalP">¿Deseas eliminar el evento?</p>
                <button class="buttonDelete" (click)="deleteEvent(item.id)"><p>Aceptar</p></button>
            </div>
            <div id="alertEvent"><p>Evento eliminado correctamente</p></div>
        </div>
    </div> -->