<!--MODAL DE ELIMINAR EVENTO-->

<div id="deleteMain">
    <img id="closeDetail" src="../../../assets/images/detalleEvento/CloseEvent.png" (click)="closeDelete()">

    <!-- <div class="modal-dialog-delete"> -->
        
        <!-- <p id="closed" (click)="closeModalDelete()">X</p> -->
        <div class="divDelete">
            <p class="modalP">¿Deseas eliminar el evento?</p>

            <!-- BOTÓN AL QUE LE PASAMOS EL ID DEL EVENTO QUE ME LLEGA DEL PADRE PARA INDICAR CUAL ELIMINAR -->
            <button class="buttonDelete" (click)="deleteEvent()">Aceptar</button>

            
        </div>
    <!-- </div> -->
</div>