
<div *ngIf="typeRating == 1" class="cursorPointer">
    <mat-icon *ngFor="let icon of maxRatingArr; let index= index"
    (mouseenter) = "HandleMouseEnter(index)"
    (mouseleave) = "HandleMouseLeave()"
    (click)="rating(index)"
    [ngClass]="{'checked': index < selectedStar}">
    star
    </mat-icon>
</div>

<div *ngIf="typeRating == 2">
    <mat-icon *ngFor="let icon of maxRatingArr; let index= index"
    [ngClass]="{checked:index <  roundMediaScore()}">
star
</mat-icon>
</div>

<div *ngIf="typeRating == 3">
    <mat-icon *ngFor="let icon of maxRatingArr;let index= index" class="icon"
     (click)="rating(index)"
     [ngClass]="{'checked': index < selectedStar}">
star
</mat-icon>
</div>
